[2015-10-21 12:58] ruflin opened #3 "Error"
When I run Filebeat -> LS -> after some time error messages start to pop up. It seems like all log messages are read until the following error pops up. The error is from then on repeated multiple times (every x seconds):

[code]

Versions:
* Filebeat 1.0.0-beta4
* Logstash 1.5.4
* Elasticsearch 1.7.2

[2015-10-21 13:36] ph commented on #3
Fixed in #4

[2015-10-21 13:36] #3 closed

[2015-10-22 12:40] BrianKITHEN opened #5 "unhandled exception Broken Pipe"
Hello,
I'm testing the master branch of PacketBeat with Logstash 1.5.4. When there is only one instance of PacketBeat running, everything is fine. However, when multiple instances are running and feeding Logstash, I often get the following error. Also, documents are missing in ElasticSearch.

```Beats input: unhandled exception {:exception=>#<Errno::EPIPE: Broken pipe - Broken pipe>, :backtrace=>[

[2015-10-22 13:45] urso commented on #5
Hi BrianKITHEN,

have you seen any errors logged by packetbeat? Can you run packetbeat with debug selectors:
-d 'publish,logstash' ?

[2015-10-22 13:47] urso commented on #5
@BrianKITHEN can you try to used most recent master from packetbeat and update logstash-input-beats plugin in logstash?

Thanks for testing!!!

[2015-10-22 13:55] urso commented on #5
@BrianKITHEN can you try to increase the connection timeout in packetbeat (https://github.com/elastic/libbeat/blob/master/docs/configuration.asciidoc#logstash-output)? The default timeout is 30 (in seconds).

[2015-10-23 16:16] BrianKITHEN commented on #5
@urso I raised the timeout and memory usage for Logstash and ES. Doesn't change.
Debug selector 'logstash' doesn't print anything. Packetbeat binary displays version beta4 though.

I'm trying to integrate PCAP files to ES through Logstash. I think the throughput might be too high for Logstash (but it worked for ES). When I reduce the number of running instances, there isn't any problem. The issue

[2015-10-25 16:46] erik-stephens opened #6 "[@metadata][index] bug(s)?"
The attached configuration was run on OS X with following versions.  I'm seeing same behavior on x86_64 as well.

- elasticsearch 1.7.3
- logstash 1.5.4 with latest beats input plugin
- filebeat 1.0.0-beta4

I see two issues or potential sources of confusion:

1. The beats plugin seems to reserve `[@metadata][index]`: I can't remove it or redefine it.
2. The interpolated index does not use the eve

[2015-10-26 11:10] ruflin commented on #6
@erik-stephens This also relates to: https://github.com/elastic/filebeat/issues/120

[2015-10-26 15:17] urso commented on #5
@ph you have an idea?

@BrianKITHEN what you use logstash for? How many ES nodes do you have? packetbeat also supports loadbalancing to multiple logstash instances if that's an option.

[2015-10-26 17:33] urso commented on #6
Checking logstash source processing [@metadata] via mutate plugin might be limited. Looks like 'update', 'replace' or 'merge' might be able to update [@metadata][index]. But 'remove_field' seems unable to access @metadata.

[2015-10-26 17:50] ph commented on #6
@erik-stephens thanks for reporting this.

@urso @ruflin Not sure what would be the best behavior here, its there any specific reason why the shipper is sending the index? Because without making sense of the actual data it will only be related to the current read date?

[2015-10-26 17:52] ph commented on #5
@urso I'll take a look

[2015-10-26 17:53] ph commented on #5
@BrianKITHEN Can you share your configuration? What OS/JVM are you running?

[2015-10-26 20:21] jordansissel commented on #6
This may be a bug, but can you tell me why you want to delete something from metadata?

[2015-10-27 15:15] erik-stephens commented on #6
My real configuration has this near the end in to define a default index:
[code]
That's why I wanted to remove/unset.  Thanks @urso, good to know.  I mis-spoke: it can be redefined.  I thought I tried without success.  I think I tried to replace it with `null` which I just learned is really the string 'null'.

I couldn't find in the beats input source where [@metadata][index] was being defined.  I

[2015-10-27 17:38] ph commented on #5
@BrianKITHEN Any errors in the beat logs?

[2015-10-27 22:19] andrenarchy opened #8 "Verify client certificates against CA"
Currently, the beats input does not verify the client certificate against the CA. This means that *any* client can connect to *any* logstash server and submit arbitrary data. Besides cluttering the logstash server with meaningless data, attackers could try to take servers down by submitting huge amounts of data.

Analogous to [filebeat](https://github.com/elastic/filebeat)/[logstash-forwarder](htt

[2015-10-28 00:29] dmitriyett opened #9 "logstash for windows error on filebeat shutdown"
I'm using filebeat and logstash for logging and I've noticed strange error in logstash output:

[code]

My logstash.conf file:

[code]

My filebeat.yml file:

[code]

It seems that everything works fine even with this exception, You can find some details in filebeat repo: elastic/filebeat#145

[2015-10-28 13:18] ph commented on #9
Thanks for reporting this I'll do a check on windows!

[2015-10-28 13:27] ph commented on #9
*wild* guess, when we are shutting down we are closing the socket and since sysread is a blocking call on windows jruby raise an unknown exception, all platform dependent errors inherits from `SystemCallError`

[2015-10-28 17:03] urso commented on #6
behavior change in PR elastic/libbeat#231

We will send [@metadata][beat] for users having better control over indexing in ES.

[2015-10-29 15:22] klj613 commented on #8
+1

[2015-10-29 15:47] #5 closed

[2015-10-29 15:51] ph commented on #9
0.9.3 was released that contains a fix for it.

[2015-10-29 15:51] #9 closed

[2015-10-29 16:00] jsvd opened #11 "latest version of logstash-input-beats has unecessary files in vendor"
this makes the 0.9.4 gem over 15mb instead of 24k

[2015-10-29 16:01] ph commented on #11
I think  you have the wrong version.. 0.9.3 was released today and it fixes this issue.

<img width="262" alt="screenshot 2015-10-29 12 01 07" src="https://cloud.githubusercontent.com/assets/640/10824010/c216f880-7e34-11e5-8e94-a18bef93901b.png">

[2015-10-29 16:01] #11 closed

[2015-10-30 16:29] passing opened #12 ""add_field" and "tags" configuration options have no effect"
I am using this configuration with logstash 2.0.0 ...
[code]
... and send some data using 'topbeat'

In the output I see neither the field 'application' nor the tag 'beats'. This would be helpful to create filters for this input when other inputs are used in parallel

[2015-10-30 16:32] ph commented on #12
I will check this, thanks for reporting it.

[2015-10-30 16:43] urso commented on #12
@passing you can add tags to the shipper configuration in topbeat.

[2015-10-30 16:46] ph commented on #12
@urso I think this is also a problem with how we decorate the events, I haven't tested it yet.

[2015-10-30 20:32] acchen97 opened #13 "Multiline codec can't differentiate different sources"
Currently the Beats input doesn't natively support multiline events from multiple different streams. As multiline codec is the thread safe option, this should be fixed accordingly.

Same issue as in the file input: logstash-plugins/logstash-input-file#44

[2015-10-30 20:33] ph commented on #13
Some initial work done in https://github.com/elastic/logstash/pull/4104

[2015-10-30 22:54] urso commented on #6
@erik-stephens is change to [@metadata][beat] good for you. I'd count this report as problem in beats, not input plugin. I think with changes in libbeat this one can be closed

[2015-10-30 23:17] erik-stephens commented on #6
LGTM, particularly the changes in logstash.go.  Regarding [@metadata][index] vs [@metadata][beat], I think the main source of my confusion was not knowing about the libbeat docs.  Between filebeat, logstash beats input, packetbeat, and libbeat, I suspect others might get confused as well.  Or worse, the docs may diverge.  Or, maybe just because I'm new to the beats world.  Anyway, thanks for addre

[2015-10-30 23:20] jordansissel commented on #6
@erik-stephens what is the purpose of remove_field on `@metadata`? For data that isn't included in any output, what's the goal of removing it?

[2015-10-30 23:21] jordansissel commented on #6
@erik-stephens but yes, opening a bug probably on the main logstash repo (elastic/logstash) since this limitation/problem occurs in that code base and affects all/most things ;P

[2015-10-30 23:28] erik-stephens commented on #6
@jordansissel I think the use case is to be able to override/undo anything that something upstream might set, especially as @metadata is used more & more.  In my specific case, adding a beats input conflicted with my existing configuration, which is fine, but I would still like a way for my configuration to take precedence.  Maybe `remove_field` isn't the best way but was the only option I could t

[2015-10-30 23:48] jordansissel commented on #6
ahh, fair. Yeah let's get a bug filed about it and we can fix it. Thanks for the background on why you need it fixed! :)

[2015-10-31 00:06] #6 closed

[2015-11-02 08:17] BrianKITHEN commented on #5
I'm really sorry for not answering you; I wasn't on github for some time.
Logstash is used to remove many fields from the PacketBeat output and to drop some packets. ES had only 1 node.

I'm running PacketBeat on Debian. There wasn't any error in the beat logs.

I'll be testing the plugin again this week.

[2015-11-02 10:24] urso commented on #5
@BrianKITHEN for very simple filtering use cases you might want to follow elastic/libbeat#111

[2015-11-02 10:55] BrianKITHEN commented on #5
Thanks @urso . That would be really nice feature.

[2015-11-02 15:44] robin13 commented on #12
I confrim the `add_fields` but only when adding to @metadata:

[code]

results in the `foo` field being added, but not the `[@metadata][inputtype]`.
The `tags` option works as expected for me.

[2015-11-03 14:36] ph commented on #12
@robin13 I believe you were using filebeat for your tests.

I believe that when we are using `topbeat` as the source it doesn't go through the `codec` part.

https://github.com/logstash-plugins/logstash-input-beats/blob/master/lib/logstash/inputs/beats.rb#L134

[2015-11-03 14:54] robin13 commented on #12
@ph True - I was using filebeat.

[2015-11-04 08:40] McStork opened #14 "ConcurrencyError: No message available"
Hello,
I am a user of Packetbeat trying to improve Logstash throughput. I'm using this guide: https://www.elastic.co/blog/logstash-configuration-tuning

The first objective would be to save the packets in a JSON file. Here is the Logstash config file:

[code]

The following error message is what I get with this config file.

`
{:timestamp=>"2015-11-04T09:24:48.686000+0100", :message=>"Beats input:

[2015-11-04 13:36] urso commented on #14
which logstash version are you using?

For some reason the worker thread handling the connection has been interrupted. The Java [InterruptedException](http://docs.oracle.com/javase/7/docs/api/java/lang/InterruptedException.html) is thrown.

Did the exception occur when stopping logstash?

[2015-11-04 14:01] ph commented on #14
@McStork Do you have a lot of clients connection to the logstash side?

[2015-11-04 15:01] ph opened #16 "Add test for the timestamp coercing"
We have no test to currently check the timestamp coercing in this plugin.

[2015-11-04 15:29] McStork commented on #14
Logstash 2.0
@ph No, only one client

[2015-11-04 15:30] ph commented on #14
@McStork JDK / OS version?

[2015-11-04 15:32] McStork commented on #14
openjdk version "1.8.0_66-internal"
Debian 8.2

[2015-11-05 08:31] McStork commented on #14
It works now. I'm sorry, I hope you didn't spend too much time on this. The exception was in the .log output file and I missed what was inside the .err file... Errno::EACCES: Permission denied - /opt/packetbeat_shipper/packets_test.json.

[2015-11-05 14:28] jalberto opened #17 "gemspec doesn't require concurrent-ruby version 0.9.1"
https://github.com/logstash-plugins/logstash-input-beats/blob/master/logstash-input-beats.gemspec#L25

s.add_runtime_dependency "concurrent-ruby"

This will install latest version (0.9.2 right now) but logstash requires 0.9.1 causing:

[code]

[2015-11-05 14:43] ph commented on #17
This is because you are running JDK7 and we have a patch that silence some deprecation warning in concurrent-ruby 0.9.1 and the patch sadly fails with concurrent-ruby 9.2 which we shipped by mistake with logstash 1.5.5 and 2.0

https://github.com/elastic/logstash/pull/4141 explain the issue and this PR
https://github.com/elastic/logstash/pull/4146 solve that problem.

I am closing this issue since

[2015-11-05 14:49] ph commented on #17
@jalberto When do get this error? When you install the plugin? Which version of logstash you are running?

[2015-11-05 14:49] jalberto commented on #17
thanks @ph

as a workaround if someone lands here: reinstall logstash, reinstall plugins

[2015-11-05 14:50] jalberto commented on #17
@ph I'm in LS 2.0 (.deb) it happened after install and then update this plugin (using plugin command)

[2015-11-05 14:51] ph commented on #17
OK thanks for confirming it, We will need to release a 2.0.1 with that fix.

[2015-11-05 14:51] #17 closed

[2015-11-05 17:05] #12 closed

[2015-11-05 17:07] ph commented on #12
Fixed in 0.9.4

[2015-11-06 14:50] ph opened #19 "Codec multiliner send rogue events down to the pipeline"
From: https://discuss.elastic.co/t/multiline-codec-is-not-working-with-filebeats-plugin-in-logstash-2-0-0/33768/3

Aggregating events with the multiline codec can cause the plugin to send rogue events down the pipeline.

[code]

logstash config
[code]
Sample log
[code]

[2015-11-06 15:00] ph commented on #19
The problems is from the async nature of the `@codec` and the fact that the event can buffered and never return something. But since ruby always return the last statement the raw values of the string is send to the pipeline.

[2015-11-06 16:17] #19 closed

[2015-11-11 18:31] ph opened #21 "Remove support from version 1 of the protocol"
Since we forked the lumberjack protocol from the gem repository I think its safe to drop support for version 1 of the protocol.

[2015-11-12 17:05] urso commented on #21
+1

[2015-11-17 17:48] ph opened #23 "Correctly Handle the flush of the `IdentityMapcodec`"
The `IdentityMapCodec` has an eviction mechanism that will flush unused codecs after 1 hour. The `encode` method of the codec need to receive a proc that can push to the queue. The current code base doesn't allow it since we use the encode method to return an event.

For more information see: https://github.com/logstash-plugins/logstash-input-beats/pull/22#issuecomment-
157449206

[2015-11-17 17:53] ph commented on #23
There could be a small problem, this plugin use a custom sizequeue that support a timeout to apply back pressure to the client and make them disconnect, so the `encode` method will use that queue instead of using the normal one.

If the queue raise a timeout exception it will kill the eviction thread in the `IdentityMapCodec`, see https://github.com/logstash-plugins/logstash-codec-multiline/blob/m

[2015-11-17 17:54] ph commented on #23
@guyboertje any suggestion about the above problem?

[2015-11-17 18:04] ph commented on #23
One way would be to be to define the cleanup callback on the identity map codec?
If not defined we use the one provided on the first decode?

[2015-11-17 19:47] ph commented on #13
#22 implement most of the logic, #23 need to be resolved for buffered contents will do in another PR.

[2015-11-17 19:48] #13 closed

[2015-11-17 19:48] ph commented on #13
released logstash-input-beats 2.0.0 and only support logstash 2.0.0 and require logstash-codec-multiline 2.0.3

[2015-11-18 10:57] nebularazer opened #24 "Multiline codec with beats-input concatenates multilines and adds it to every line"
I did some local testing to get this to work but was not able to, instead i discovered this weird behavior.

**test log**
[code]

**filebeat config**
[code]

**logstash config**
[code]

**logstash output**
[code]

**versions**
logstash-2.0
logstash-input-beats (2.0.0)
logstash-codec-multiline (2.0.3)
filebeat-rc2

**works as expected with logstash-input-stdin**
[code]

[2015-11-18 13:10] tsg opened #25 "Copy beat.hostname into host"
The Beats are sending the hostname on which they run in the `beat.hostname` field. In Logstash, most input plugins are using the `host` field for this purpose. This is annoying for people that use Logstash with a lot of different sources.

After a bit of discussion on the topic, we decided that the best way forward would be to keep using `beat.hostname` in the Beats but have the logstash-input-bea

[2015-11-18 15:05] ph commented on #25
Make sense, we also use "host" as part of Event#to_s`

[2015-11-18 15:10] ph commented on #24
Thanks for the test case I have the same behavior!

[2015-11-18 15:13] nebularazer commented on #25
+1. just noticed that missing %{host} in my case (#24) today.

[2015-11-18 15:53] urso commented on #25
@ph is there an official event schema? I thought only '@timestamp' and '@version' are somewhat mandatory. But I got the impression tags, type and host are kind of special too.

[2015-11-18 16:33] ph commented on #25
@urso I can cook some documentation similar to what you have in beats? WDYT?

[2015-11-18 16:36] urso commented on #25
@ph would be helpful. We've been just wondering about field assumptions in logstash (e.g. host being used in some places by default) as this is more or less the main concern about compatibility of events directly index from beat into elasticsearch and events index via logstash.

[2015-11-18 16:42] ph commented on #24
Okay we have found some cause of the issue, the reset isn't correctly call in the multiline codec because `decode` block uses a return statement. thx @jsvd

[2015-11-18 17:19] ph commented on #24
I have a working fix locally, need to adjust the test to reflect it.

[2015-11-18 19:27] ph opened #26 "Refactor goals"
- Remove the multiple levels of block inside the input itself and the library, there is way too much level of indirection and make the code hard to read and to test.
- Remove the SizeQueue with timeout to either use one of the java stardard library
- Make move the connection thread handling up to the library the input shouldn't have to deal with that.
- Can we move to a complete non blocking way o

[2015-11-19 11:17] brahman81 opened #29 "plugin update logstash-input-beats major version upgrade confirmation"
Plugin update appears to have a bug. I am not sure if it's related to the plugin itself or the logstash plugin command or both.

[Looks](https://github.com/elastic/logstash/blob/ba96b1f0b3d2b14c63c3c8cd34af647088646710/lib/pluginmanager/util.rb#L47) like the plugin manager fetches information directly from Rubygems, hence why it warned me about upgrading to version 2.0.0, but then it still proceed

[2015-11-19 12:26] urso commented on #29
Which version of logstash have you installed?

[2015-11-19 12:40] brahman81 commented on #29
Installation with the 64bit Debian packages.

logstash = 2.0.0-1
elasticsearch = 2.0.0
filebeat = 1.0.0~rc2

[2015-11-19 13:29] ruflin commented on #29
I tried to above and have the same result. @ph ?

I tried it also on 2.1.0 Snapshot with the following results
[code]

[2015-11-19 15:41] guyboertje commented on #23
@ph - sorry, I did not see your comment until now.

[2015-11-19 17:35] ph commented on #23
depends on https://github.com/logstash-plugins/logstash-codec-multiline/issues/16

[2015-11-19 20:16] jordansissel commented on #25
Fixed by #28

[2015-11-19 20:16] #25 closed

[2015-11-19 21:41] ph commented on #29
We will release soon a 1.5.6, 2.0.1 and 2.1 (next week) that will fix that issue :(

[2015-11-19 21:45] ph commented on #24
2.1 is coming next week with a fix on concurrent-ruby/and this problem.

[2015-11-19 21:46] ph commented on #24
@nebularazer Just to be clear, it will require 2.1 and we will also release the fix for 2.0.1. We have a chicken and an egg problem with that plugins that will require and upgrade.

[2015-11-19 23:21] nebularazer commented on #24
@ph nice to hear. Upgrading is not a problem for us, we are not productive yet :)
Thanks for fixing it. :+1:

[2015-11-20 03:36] nxhack commented on #25
sadly, it not work for me.
(logstash-input-beats-2.0.2, filebeat-1.0.0-rc2)
[code]
is is defined?

https://github.com/logstash-plugins/logstash-input-beats/blob/master/lib/logstash/inputs/beats.rb#L159

[2015-11-20 10:17] nebularazer commented on #24
If you _would_ update logstash-input-beats (2.0.2) and logstash-codec-multiline (2.0.4) right now, then logstash will crash because of that concurrent-ruby version issue. Is that intended? This may cause confusion/problems for other users wanting to test the beats input.

[code]

[2015-11-20 10:17] nebularazer commented on #24
sorry misclicked close

[2015-11-20 10:44] tsg commented on #25
@nxhack How did you install the new plugin? Maybe you are affected by #29?

[2015-11-20 14:46] ph commented on #24
@nebularazer test this is a know issue, 2.1 should come early next week and will fix that :(

[2015-11-20 14:52] ph commented on #25
@nxhack can you do `bin/plugin list --verbose beats` and add the result here?

[2015-11-20 19:36] nxhack commented on #25
@tsg @ph  As I posted,
logstash-input-beats (2.0.2)
& filebeat-1.0.0-rc2

[2015-11-20 19:49] nxhack commented on #25
[code]
[beat][hostname] & [beat][name] was sent.

[2015-11-23 11:00] iammichiel opened #32 "Date conversion"
Hello,

I'm trying to run a basic sample with file tailing in filebeat and simply forwarding to logstash. However, I have the following error when logstash receives the message :

    The field '@timestamp' must be a (LogStash::Timestamp, not a String (2015-11-23T10:49:43.423Z)>,

What is going wrong here? Is it the plugin? Is it the filebeat configuration?
Thanks !

Running :

[2015-11-23 11:19] ruflin commented on #32
@iammichiel You must update to the most recent version of logstash-input-beats 0.9.6:

https://www.elastic.co/guide/en/beats/libbeat/1.0.0-rc2/getting-started.html#logstash-input-update

[2015-11-24 05:38] nxhack commented on #25
I tried again, update logstash-input-beats 2.0.2 to 2.0.3, but result was not good.
dose it work? someone.

[2015-11-24 09:25] iammichiel commented on #32
Hi,

Thanks for the quick answer. Indeed, updating solved the problem ! :)

[2015-11-24 09:25] #32 closed

[2015-11-24 14:55] ph commented on #25
@nxhack I am running beats input 2.0.3 with filebeat rc2 and my output contains the correct host field?

Can you post the content of the `Gemfile.jruby-1.9.lock` ?

[code]

[2015-11-24 22:26] nxhack commented on #25
@ph
[Gemfile.jruby-1.9.lock.txt](https://github.com/logstash-plugins/logstash-input-beats/files/43286/Gemfile.jruby-1.9.lock.txt)

OS: ubuntu 12.04.1
Java:  openjdk-7-jre 7u85-2.6.1-5ubuntu0
Logstash: logstash 1:2.0.0-1 & plugin update
ES: 2.0.0

[2015-11-25 17:17] ph commented on #29
We released 2.1 yesterday that include that fix and should fix the install problem.

[2015-11-25 17:17] #29 closed

[2015-11-25 17:17] ph commented on #24
2.1 was released and should fix this issue.

[2015-11-25 17:17] #24 closed

[2015-12-04 04:48] nxhack commented on #25
now LS 2.1.0 + logstash-input-beats (2.0.3) + filebeat 1.0.0 WORK FINE.
Thanks!

[2015-12-08 10:38] yanou75pro opened #33 "@timestamp is not overwritten if it's present the message and decode with json codec"
Hello,
That's my first issue on github. sorry if i'm not clear enough or if I don't post the issue at the right place.

Filebeat is parsing a file that produce a json document on each line.
if sent the result to a file I get something like that :
[code]
As you can see filebeat put his own @timestamp key (2015-12-08T10:07:52.368Z) and there is also a @timestamp key (2015-12-08T11:07:44.021+01:00) i

[2015-12-08 22:31] jlintz opened #34 "zlib buffer errors"
[code]

Seem to be getting this continuously on some nginx logs

Input is just

[code]

And the nginx logs are JSON formatted.  I'll see if I can create a reproducible case

Versions:
logstash 2.1.0-1
logstash-input-beats (2.0.3)
filebeat 1.0.0

[2015-12-09 14:59] ph commented on #34
@jlintz Thanks! if you can get a lot that would be awesome! @urso Any ideas?

[2015-12-09 15:08] ph commented on #33
@yanou75pro thats a bug, it should parse the json `message` key and use your timestamp instead.

The logic we currently have is wrong, since we take the content of the original message and merge it with the parsed message.  (https://github.com/logstash-plugins/logstash-input-beats/blob/master/lib/logstash/inputs/beats.rb#L144-L150)

We should do a more intelligent merge, if the key is present in t

[2015-12-09 17:08] urso commented on #34
@jilints can you try to reduce the bulk size? Maybe set to very low values (like 50 or 100) and see this still happens.

@ph no idea, but looks like an older problem: logstash-plugins/logstash-input-lumberjack#9 .
I kinda feel tricked by jruby stack trace and branch naming. Which [branch](https://github.com/jruby/jruby) do I have to look at? Looking at master for [buffer error](https://github.com/

[2015-12-10 15:23] ph commented on #34
@urso agree that would rule out some issues to have theses checks.

Good finding about jruby, I usually look for the master branch all the time.

[2015-12-10 18:57] jlintz commented on #34
@urso do you mean the spool size in filebeat?

[2015-12-10 19:13] urso commented on #34
@jlintz no. the bulk_max_size in LS output module: https://www.elastic.co/guide/en/beats/libbeat/current/configuration.html#_bulk_max_size

The spool will be forwarded to outputer and LS outputer will slice it into multiple batches.

[2015-12-10 19:15] jlintz commented on #34
@urso it looks like bulk_max_size is for ES output module only according to the docs you linked

[2015-12-10 19:17] urso commented on #34
@jlintz seems to be a doc bug (can you fill a ticket?). The [init code](https://github.com/elastic/beats/blob/master/libbeat/outputs/logstash/logstash.go#L70) is reading this config value.

[2015-12-10 20:16] jlintz commented on #34
Changing bulk_max_size to 25 seems to have fixed the issue

[2015-12-10 22:11] jlintz commented on #33
Just ran into this bug as well

[2015-12-11 16:20] AndreasWurm commented on #8
indeed, stumbled over this too. In Filebeat you can set the accepted CAs and cipher suites.
The same should be true for the receiving end.

[2015-12-17 12:44] schmandforke opened #35 "unhanded exception - unsupported protocol 60"
Hey there,

i got an unusual exception and don't know what todo:

` ` `
Beats input: unhandled exception {:exception=>#<RuntimeError: unsupported protocol 60>, :backtrace=>["/opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-input-beats-2.0.3/lib/lumberjack/beats/server.rb:225:in `handle_version'", "/opt/logstash/vendor/bundle/jruby/1.9/gems/logstash-input-beats-2.0.3/lib/lumberjack/beats/server.

[2015-12-17 13:00] urso commented on #35
Is some other service using this port? This error occurs on very first byte read from socket. Check for TCP connections using ss, netstat or lsof.

[2015-12-17 16:08] yanou75pro commented on #33
Hi,
do you have a schedule  planned for solving this bug?
I need to know if I wait a little bit or if I redesign my json (I'd like to avoid that :)).

[2015-12-29 19:33] ppf2 opened #36 "Provide an option to retain the message field when a codec is used"
https://github.com/logstash-plugins/logstash-input-beats/blob/811393db7c2d69e0aa02e6ea6c092c2b6f8bba3c/lib/logstash/inputs/beats.rb#L135

Currently, when a codec is used, we discard the message (by default) field.  It will be nice to provide a configurable option for the end user to specify whether they want to retain the original message field or not:

* For validation purposes (so they can see t

[2015-12-29 22:50] jayswan commented on #36
Given that it's relatively common with Logstash-originated data to drop the `_all` field and change the default search field to `message`, this is fairly important. I don't really want to use a different mapping template just for FileBeat-originated data.

[2015-12-29 23:26] ppf2 commented on #36
+1 I am retagging this to a bug given the impact to Kibana users who have disabled _all and set the default search field to message (which is common).

[2015-12-29 23:59] ph opened #37 "Threading issue under high volume, ThreadError: Mutex is not locked"
[code]

This also raise this error `#<ConcurrencyError: No message available>,` which in turn do a  Concurrent::RejectedExecutionError.

A few notes the sizequeue from the logstash input lumberjack seems to conflict with the one in the beats input. This shouldn't be a big problem since both code is the same but it may cause issue in debugging or updating, I will rename it the separation clearer.

[2015-12-30 01:43] jayswan commented on #36
A temporary workaround for this is to create a new message field in Logstash with the `mutate` filter:

[code]
I just deployed this and it works.

[2015-12-30 19:31] ph commented on #35
@schmandforke Anything else is trying to connect to the same port? like @urso said this error is generated from the first few bytes read from the socket.

[2015-12-30 19:33] ph commented on #14
I think this issue is really similar to https://github.com/logstash-plugins/logstash-input-beats/issues/37
event if the message is a bit different.

[2015-12-31 17:56] ph commented on #36
@jayswan Just by curiosity you are using which codec with the Beats input? I am fixing something else in this plugin and I would like to fix this issue as well.

[2015-12-31 18:35] ppf2 commented on #36
@ph We are using the `json` codec in this case.  thx!

[2015-12-31 18:42] ph commented on #36
@ppf2 I also think in that case the input should tag the event to tell the remaining of the pipeline how it was created since this is not really obvious to know if the event used a codec or not.

This would be really helpful if the input handle topbeat/filebeat event at the same time.

[2015-12-31 18:53] ppf2 commented on #36
@ph +1 any additional metadata information we can pass along from the beat and add to the metadata of the event coming out of the beats input will be great for future debugging purposes.

[2015-12-31 22:06] bobelev commented on #8
+1

[2016-01-04 10:43] runningman84 commented on #8
This seems to be an important issue, if you want to drop lumberjack in the future you should at least have the same kind of security with beats.

Funny enough filebeat already supports using a client certificate. Logstash filebeat input just fails to validate it.

Please add this option:
[code]

[2016-01-04 16:31] davgibney1 commented on #35
{:timestamp=>"2016-01-04T11:28:19.191000-0500", :message=>"Beats input: unhandled exception", :exception=>#<RuntimeError: unsupported protocol 72>, :backtrace=>["/opt/logstash-2.1.1/vendor/bundle/jruby/1.9/gems/logstash-input-beats-2.0.3/lib/lumberjack/beats/server.rb:225:in `handle_version'", "/opt/logstash-2.1.1/vendor/bundle/jruby/1.9/gems/logstash-input-beats-2.0.3/lib/lumberjack/beats/server.

[2016-01-04 18:03] davgibney1 commented on #35
If I comment out the logstash stuff from the filebeat config, then elasticsearch is able to receive the logs OK. Seems like there is a problem with logstash, and/or a problem with filebeat in terms of logstash.

[2016-01-06 18:46] jordansissel commented on #8
@runningman84 I don't think the lumberjack input does validation (on the logstash input side) of client certificates - the original threat model was to protect data leaks (so lsf doesn't ship to untrusted servers). There's been enough requests for client authentication via certificate that it's worth adding this feature, so  I agree. Hope the background helps.

[2016-01-08 07:33] markwalkom opened #39 "Clarify use of TCP or UDP"
[Here](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-configuration-details.html#_tls_2) we mention;

While [here](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-beats.html) we don't mention anything.

It'd be worth further clarifying that filebeat uses TCP only to ensure delivery, rather than having it as a footnote.

[2016-01-08 07:55] tsg commented on #39
CC-ing @dedemorton  and @urso

I'm not sure what's the intention behind that note in the Filebeat docs. logstash-input-beats is always over TCP, right?

[2016-01-08 15:47] ph commented on #33
Okay this is what I am proposing,  This might break a few configuration but this doesn't mess with any of users' data.

If a codec is specified and applied to the frame.

- Create the event from the json string
  - If it has a `@timestamp`, we will use it
  - If it doesn't we fallback to Time.now
- In all the cases take the beat's frame move it to `[@metadata][beat]`

@untergeek @urso your opinion

[2016-01-08 15:49] ph commented on #33
Also not that #38 introduce a tag when the codec are applied to a specific event so users will be able to use mutate filter to transform it.

[2016-01-08 15:50] untergeek commented on #33
+1

[2016-01-08 16:02] urso commented on #33
+1 for timestamps

I don't understand. which frame data? All beats already sned [@metadata][beat] containing the beat name (used for filtering and setting the elasticsearch index).

[2016-01-08 18:39] ph commented on #39
its always over TCP, encypted or not.

[2016-01-08 18:41] ph commented on #16
#38 implement this

[2016-01-08 18:41] #16 closed

[2016-01-08 18:41] ph commented on #26
This was done in #38

[2016-01-08 18:41] #26 closed

[2016-01-08 19:10] #37 closed

[2016-01-08 19:42] ph commented on #33
I am talking about the other values that are send by the filebeat, this is not a new problem, we probably had this issues with LSF/lumberjack too. https://github.com/logstash-plugins/logstash-input-lumberjack/blob/master/lib/logstash/inputs/lumberjack.rb#L112

If the message was a Json string and contains a `count` and an `offset` key we will override it after the decode, losing the original data.

[2016-01-08 20:29] dedemorton commented on #39
@tsg I don't know, either. It looks like that info has been around for awhile...not sure where it came from. So it sounds like I should remove the line, "Logstash must also be configured to use TCP for Logstash input" from the Beats doc, right?

I wonder if we even need to mention TCP in the Beats doc (then we could avoid describing how TCP is used--which to me seems like an implementation detail

[2016-01-08 20:30] markwalkom commented on #39
FYI I also raised this here - https://github.com/elastic/beats/issues/668

[2016-01-08 20:49] jordansissel commented on #39
Agreed it's confusing to mention TCP at all. The connection to Logstash is via beats input, and I think that's all we need to mention. We can say the protocol runs over TCP if folks need to know that for firewall rules, but beyond that I think saying "Needs to use TCP" is confusing because there's no other option ;P

[2016-01-08 21:07] dedemorton commented on #35
Your Filebeat config is old. It uses the "enabled" option, which was removed before the official Beats 1.0 release.  The correct format is documented here:
https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-getting-started.html#_configuring_filebeat_to_use_logstash

output:
  logstash:
    hosts: ["127.0.0.1:5044"]

You also need to disable the elasticsearch output by commenting it ou

[2016-01-09 02:11] ph commented on #14
have release 2.1.0 of this plugins, that should fix the ConcurrencyError issue.

[2016-01-10 12:05] tsg commented on #39
Reading that again, I think what should have been written is along the lines of "If TLS is used, the beats plugin in Logstash must also be configured to use TLS.".

It's a good point that we should somewhere mention in the docs that we use TCP, since it can be useful information for some people, but probably in the introductory paragraphs for the Logstash output, not in the tls section :-).

[2016-01-11 16:29] ph opened #43 "Make test faster by removing sleep"
The test suite contains sleep to make sure the threads are correctly initialize, this make the test slow, harder to understand and more fragile we should remove all of them.

[2016-01-12 02:00] dedemorton commented on #39
@tsg Made your changes to the Beats doc. I don't think any changes are really required to the doc for the Beats input plugin. WDYT?

[2016-01-12 08:20] tsg commented on #39
Thanks @dedemorton, I just merged that one. @ph @jordansissel I don't have the rights to close the ticket, can you do it if you agree?

[2016-01-14 21:16] ph commented on #14
#37 should fix this released in 2.1.1, if you still see this error reopen this issue.

[2016-01-14 21:16] #14 closed

[2016-01-15 11:52] MarkGoldsmith1987 opened #44 "Beats Input: Remote connection closed unsupported protocol 42 warning"
I'm seeing this filling up my logstash log:

{:timestamp=>"2016-01-15T11:46:37.690000+0000", :message=>"Beats Input: Remote connection closed", :peer=>"xx.xx.xx.xx:41919", :exception=>#<Lumberjack::Beats::Connection::ConnectionClosed: Lumberjack::Beats::Connection::ConnectionClosed wrapping: Lumberjack::Beats::Parser::UnsupportedProtocol, unsupported protocol 42>, :level=>:warn}

Prior to upgradin

[2016-01-15 13:07] McStork commented on #14
@ph Good job, thanks!

[2016-01-16 02:39] acchen97 commented on #8
+1 on implementing this, /cc @suyograo

[2016-01-20 12:56] alexkappa commented on #44
Same issue here.

[code]
[code]
[code]

[2016-01-22 13:50] ph commented on #44
In the 2.1.0 release of the plugin I have added more granular loggings, but this certainly concerning if you  see this really often in your logs, Is there any correlating log on the filebeat side?

This error is originating at the protocol level inside the parser state machine, anything else is trying to connect to the 5044 port?

[2016-01-22 13:59] ph commented on #44
If you try to connect to the input with telnet and try to send something you will get a protocol error.

[code]

@alexkappa  Not sure if its related, the peer address is ending with 0?

[2016-01-25 19:42] ph opened #45 "Input Beats in much slower than the LSF"
We have report on discuss and other users that the beats input is much slower than his predecessor `LSF`. See https://discuss.elastic.co/t/insufficient-throughput-from-filebeat/39564/11

@urso did a few testing on his side to isolate the issue and a lot of factor point to the direction the input.

The following tests were made with no filter and with the null output on a Hetzner test machine. (4 c

[2016-01-25 20:46] ph commented on #45
I was helping an user and I did the following to test the current performance.
Run for ~ 2mins.

LSF -> Lumberjack
[code]

Filebeat 1.0.1 -> Beats
[code]

[2016-01-25 20:49] ph commented on #45
updated with configs

[2016-01-25 21:06] ph commented on #45
Result from beats 2.0.3 slower than 2.1.2
[code]

[2016-01-26 10:22] McStork commented on #44
I also get often this error with Logstash 2.2 / Beats 1.1.
Error only appears when Beats are running so I doubt it is caused by another protocol trying to connect to 5044.
[code]
It often is ```unsupported protocol 0```or  ```unsupported protocol 8``` and most of the time occurs at the beginning of output from Packetbeat to Logstash.

[2016-01-26 13:15] tsg commented on #45
@ph Can the logstash version be relevant here (i.e 2.1 vs 2.2), or is it just the plugin version that matters?

[2016-01-26 13:55] ph commented on #45
@tsg all the tests were done in the same logstash version which is 2.1.1, so for me the problem lie in the plugin and the core doesn't matter.

[2016-01-26 13:56] ph commented on #44
I was able to get that error from time to time with the latest filebeat 1.1, I will look into it as soon as possible.

[2016-01-27 14:52] ph commented on #45
This what I know from the yesterday experiments

1. The refactoring of 2.1.X did not cause the performance
2. Beats input 2.0.3 and before show the slowdown.
3. logstash-input-lumberjack 2.0.5 and 2.0.3 Have almost the same logic code in the plugins
4. logstash-input-lumberjack 2.0.5 and 2.0.3 Have the same TCP socket handling logic.

What is different on the server side.
- Json frame
- Partial AC

[2016-01-27 15:13] tsg commented on #45
Are those CPU or real times? In other words, the `IO#sysread` time contains the time it waits for a new packet to be available?

Would be interesting to compare it with a profile generated while having LSF as a client.

[2016-01-27 15:24] ph commented on #45
@tsg +1 on that, It will be my next check, its cpu time IIRC.

[2016-01-27 15:32] ph commented on #45
I have traced the communication in both of the plugins and the window/ack logic seems OK.

I will profile the other plugin.

[2016-01-27 15:47] jordansissel commented on #45
@ph are you sure the profile data uses cpu time? I have doubts and think it uses real time - 84% of time spent in `IO#sysread` sounds like real time, not cpu time.

[2016-01-27 15:52] ph commented on #45
:coffee: :coffee:  Yes its real time. :coffee: :coffee:

Its reeeeal time

[2016-01-27 15:53] jordansissel commented on #45
Given that, it does seem like it's something network or protocol related, maybe -- that for most of the time we are blocked waiting on reads from the network?

[2016-01-27 15:55] ph commented on #45
@jordansissel Yup, its certainly feel slower in the trace, I am rerunning the test with a fixed amount of logs, 200k of the same line)

[2016-01-27 21:35] ph commented on #45
I went through the codes and compared multiples different version but I don't see something really obvious.

@urso Its possible to do a simple test with filebeat and remove the acking strategy in the code? I am curious to see the throughput without the ack?  Can you make a version available for me?

[2016-01-27 23:03] urso commented on #45
@ph you mean no ack at all? You change the ack strategy at will, as long as long as last ack is send.

[2016-01-28 14:14] ph commented on #45
On my quest to find the slowdown  I have tested a lot of different scenario.
Lets take the `LSF -> Lumberjack` input as the baseline.

[code]

[2016-01-28 15:07] ph commented on #45
On my quest to find the slowdown  I have tested a lot of different scenario and I would like to share the numbers with you.
The number were generated by `pv -War` and using the dots codec for the stdout.

Lets take into the `LSF -> Lumberjack` input as the baseline.

The test machine was a:
Macbook pro retina, 3 GHz Intel Core i7, 16gigs of ram

## Baseline numbers

| Time | Sender | Receiver | Pe

[2016-01-28 15:12] ph commented on #45
If you have any ideas or suggestions I am all ears!

[2016-01-28 15:13] untergeek commented on #45
Is there a chance that Beats adding/using `@metadata` has an effect?

[2016-01-28 15:20] ph commented on #45
@untergeek The content of the metadata itself is a bit bigger than what we were sending before,
Yes it should take more time to send and compress.

_sorry the format aren't the same_

Beat metadata
[code]

LSF metadata
[code]

[2016-01-28 15:26] ph commented on #45
updated with the same generated data frame. You can exclude the tags in the beats format they are added by the input.

[2016-01-28 15:34] ph commented on #45
Beats 1024 events window
[code]
LSF 1024 events window
[code]

[2016-01-28 15:38] colinsurprenant commented on #45
@ph did you have a chance to look at the potential scenario we discussed yesterday? this is an hypothesis without having looked into the protocol code but: if the acking mechanism is synchronous on the sender end (filebeat), and sending frame N requires the reception of ack N-1 then the throughput will be throttled by the acking latency. If this is the case, maybe the protocol could be tweaked so

[2016-01-28 16:19] ph commented on #45
@colinsurprenant  @urso has a branch that support `pipelining` which send events asynchronously,increasing performance at the cost of increased CPU and memory usage on both the sender and the receiver side. @urso This could be a flag that people turn on?

Filebeat (current implementation) and LSF were both doing sync ack.

But with the change in the format and increased data frame it will effectiv

[2016-01-28 16:20] ph commented on #45
One thing I did not consider in the test is testing with beats input with SSL turn on.

[2016-01-28 16:21] urso commented on #45
@colinsurprenant I've run some tests some time ago with filebeat using asynchronous mode sending the next batch of frames before receiving an ACK.

[code]

column 'pipelining' means async mode enabled. It kinda improves the situation, but is still slower than LSF doing sync ack (30k lines/s).

For async sending (or without ACK), compression must be disabled in beats so not to trigger a bug in inpu

[2016-01-28 16:52] ph commented on #45
@urso the tests we discussed

|  Time | Sender | Receiver | Performance |
|  ---------- | -----------  | ----------------- | ------- |
| 3 mins | LSF 0.4.0 | Beats 2.1.2 TLS | [21.4KiB/s] [21KiB/s] |
| 3 mins | Filebeat 1.1.0 TLS | Beats 2.1.2 TLS | [12.1KiB/s] [11.9KiB/s] |

its a bit faster, not sure its really meaningful.

[2016-01-28 17:26] colinsurprenant commented on #45
@urso in the single worker scenario, enabling pipelining increases by ~25% which is not negligible but  it is intriguing that it is not more efficient.

What is the multiple workers scenario? is that multiple internal workers in the file beat sending to the same LS instance?

[2016-01-28 17:37] ph commented on #45
@colinsurprenant pipelining + fixing the problem with the zlib will _probably_ make it faster. but still.

[2016-01-28 19:12] urso commented on #45
@colinsurprenant workers is number of workers with dedicated tcp connections doing some loadbalancing in filebeat.

Some more tests from my side with [generatorbeat](github.com/urso/generatorbeat) and some fake lumberjack server in go (https://gist.github.com/urso/a676fb14269c49f78749). The fake server parses json encoded + compressed data frames.

generatorbeat + fakelumberjack = ~58k events/s
ge

[2016-01-28 21:16] colinsurprenant commented on #45
@urso interesting. the tests with the fake server, that was without pipelining right?

[2016-01-28 23:18] ph commented on #45
Something else interesting, theses results are from a simple ruby script that start a server and only output "." on each events on $stdout. https://gist.github.com/bfbc678e7fddd8c4575f , Half the values in a pipeline. I'll use that setup to thinker with the problem.

| config | performance |
| ------- | ---------------- |
| Filebeat -> Simple Server | [ 23KiB/s] [19.3KiB/s] |
| LSF -> Simple Serve

[2016-01-29 09:07] urso commented on #45
@colinsurprenant yes, test is without pipelining.

[2016-01-29 10:04] urso commented on #45
Based on @ph's gist: https://gist.github.com/urso/eefb15c9a716e9559c8e
Extracted the lumberjack server from beats-plugin. Enable/disable json parsing at [line 259](https://gist.github.com/urso/eefb15c9a716e9559c8e#file-lumberjack-rb-L259).

As I have had problems installing jruby and rbenv on my test machine I tested on my mac.

[code]

For comparison on my mac

[code]

[2016-01-29 10:32] urso commented on #45
got it running on test server (debian sid, hetzner physical machine)

as reminder:

[code]

and with ruby based lumberjack fake server (jruby-1.7.24)

[code]

[2016-01-29 12:45] colinsurprenant commented on #45
we should make sure we're not facing a JRuby version specific problem with IO or something weird like this.

[2016-01-29 14:20] ph commented on #45
Just did a small check with an older version of jruby 1.7.11, this is the one we used to ship Logstash 1.4.2.

Same numbers.
[code]

[2016-01-29 15:46] urso commented on #45
I tested with OpenJDK 7 and 8, jruby 1.7.0, 1.7.24, 9.0.5 with no notable differences.

some more experiments with pipelining in generatorbeat on hetzner machine:

[code]

[2016-01-29 15:55] ph commented on #45
`no compress, no json parse) = ~92k ` This is the part that read the buffer to extract json string before sending it to jrjackson. I am revisiting that part to see how I can change the logic, wild guess there is more allocation/deallocation in the part with larger frames?

[2016-02-01 12:49] alexkappa commented on #44
@ph is it bad if it ends with a 0? I'm sending logstash events from filebeats from several hosts. One of those hosts IP ends with a 0 but others not necessarily (aws autoscaling). I can provide a more detailed log if that helps.

[2016-02-04 17:10] asemt commented on #44
Same error here with following versions (all Linux amd64):
- Logstash: logstash 2.1.1
- Logstash logstash-input-beats plugin: 2.1.2
- Packetbeat: 1.1.0 and 1.0.1

Would be really cool to have a more verbose error message.

[2016-02-05 10:16] filipemarinheiro commented on #8
+1 For me this is a major security fault and should be implemented as soon as possible

[2016-02-06 06:23] chad-upton opened #46 "Errors in logstash since upgrade to 2.2"
After upgrading logstash to the newest version that came out today, I'm seeing these messages in the logs constantly using the beats input plugin.

[code]

[2016-02-06 22:57] plumpNation commented on #46
I am also seeing the same issue.

However, it was working earlier. I am removing the registry and elasicsearch indices and pushing all the logs in again. Worked several times without issue, then stopped.

Have reverted all changes to the working setup, still the issue persists.

[2016-02-08 02:33] ph commented on #46
@chad-upton In the latest release of the plugin I have added more logging, in the previous version we have similar errors but were not reporting them.

I you look at your filebeat logs do you see any errors related in that time frame?

@plumpNation In your case it is normal you are closing the remote connection which trigger the EOF on the logstash.

[2016-02-08 02:35] ph commented on #46
@plumpNation Thanks we are trying our best to help out :) You should look at our discuss forum.  https://discuss.elastic.co

[2016-02-08 15:16] chad-upton commented on #46
@ph It's a constant stream of that error as soon as logstash is started.

My logstash collectors are behind an AWS ELB, nothing showing up in the filebeat logs.

Appreciate the help!

[2016-02-08 17:02] ph opened #48 "When running the tests inside logstash"
This test was failling when we were running all the plugins tests under logtash.
[code]

[2016-02-08 17:03] ph commented on #46
@chad-upton Can you share both your logstash and filebeat configuration?

[2016-02-08 17:49] chad-upton commented on #46
Filebeat.yml
[code]

I have multiple filters but only a single input from filebeat.

logstash.conf.d/
[code]

[2016-02-08 20:29] ph commented on #46
Not sure its its not the ELB the problem in this case, filebeat can already load balance the requests between multiples host.

You said it was working before? Which version of logstash where you running and which version of the beat plugin? Did you always used a ELB between filebeat and Logstash?

[2016-02-08 21:26] chad-upton commented on #46
Oh it's working fine, it's just spamming the hell out of the logstash log file.  The only thing that has changed is I went to the new logstash version, was one back before it.  2.1.9 I think?

[2016-02-09 01:01] ph commented on #46
Ok, I'll try to reproduce the same scenario that you have, I haven't see the EOF really spammy on my end :)

[2016-02-09 15:54] ph commented on #48
We don't actually mock or stub any time in this plugins I am wondering if its actually this can be generated from another plugins.

[2016-02-09 15:55] ph commented on #48
I know why, the thread is probably still running when the date filter test run.

[2016-02-09 18:22] colinsurprenant commented on #45
curious, have we made any progress on this?

[2016-02-09 22:20] urso commented on #45
not much. I tested with logstash 2.2.0 + most recent beats plugin this week and throughput improved from 18k to 20k lines/s.

Testing with PR #47 and pipelining in logstash it get like 25.5k lines/s. Adding a second worker I get like 43k lines/s. For comparison 4 workers have been required in the past to get somewhat similar throughput.

[2016-02-10 03:21] ph commented on #45
@colinsurprenant Not yet, I reviewed @urso PR which is an improvements and will try to release it asap.

[2016-02-10 16:36] personias commented on #46
I'm getting the same annoyance with logstash 2.2.0.1 & the logstash-input-beats plugin sitting behind an AWS ELB.  My ELB is running an 'every 30 second healthcheck'  (Ping of target host via TCP:5044).  When the healthcheck runs, I get that warning for each of the hosts in each of the ELBs (There is 1 per availability zone...so if you have a 2 AZ setup; you'll have 2 warnings).  The result of the

[2016-02-10 18:33] ph commented on #46
@personias I will turn it down a bit, I haven't considered the health checks to cause this problem.

[2016-02-10 21:39] personias commented on #46
@ph -- many thanks!

[2016-02-11 15:28] ravi412 commented on #8
+1 . We are planning a large-scale install of filebeat on 1000+ machines hence this is a critical feature.

[2016-02-11 22:08] #48 closed

[2016-02-12 16:15] chad-upton opened #50 "Beats input crashing"
So we've been trying to use this for a couple days, but I'm seeing these errors a lot more often and it just crashes the logstash process.

Logstash: 2.2.0
Beats Input Plugin: 2.1.2

My input.conf for beats is basic:

[code]
[code]
[code]
[code]

[2016-02-12 16:31] chad-upton commented on #50
I believe this was due to me trying to use the de_dot plugin in conjunction with this.  I removed de_dot and it quit crashing.

[2016-02-12 16:31] #50 closed

[2016-02-13 04:00] ph commented on #8
I am starting to look at this following the use cases defined in https://github.com/logstash-plugins/logstash-input-lumberjack/issues/31

[2016-02-19 10:38] rjes commented on #8
+1
Since we would like to send log from instances in iaas/paas locations where we can't setup ip-filters this feature is very crucial for us.

[2016-02-19 14:11] shaunrampersad commented on #46
I'm seeing the same issue. My Logstash nodes are fronted by haproxy. Filebeat then talks to haproxy. I'm seeing the constant message
'
{:timestamp=>"2016-02-19T16:07:12.459000+0200", :message=>"Beats Input: Remote connection closed", :peer=>"172.x.x.x:58134", :exception=>#<Lumberjack::Beats::Connection::ConnectionClosed: Lumberjack::Beats::Connection::ConnectionClosed wrapping: EOFError, End of fi

[2016-02-19 19:40] #46 closed

[2016-02-19 19:48] ph commented on #46
I just pushed 2.1.4 which fix this issue!

[2016-02-20 11:14] acchen97 commented on #8
Thanks for the feedback, we're targeting this within a short-term release.

[2016-02-21 20:29] ppf2 opened #52 "Add integration test for LSF to beats input"
Discussed with @jordansissel earlier.  He likes the idea of officially supporting LSF -> LS beats input to ease migration.  He has tested this briefly before and it works because LSF and beats use the same underlying protocol, but would like to see us add integration tests so that we can officially confirm and document it as a supported path.

[2016-02-22 00:23] berglh commented on #45
I just wanted to chime in. I have a pretty complex multi-line log that we're shipping. I had been using log-courier and noticed the new multi-line support in `filebeat`, so I decided to try it out.

My set-up was pretty straight forward:

`filebeat 1.1.0` => `logstash 2.2.0` w `logstsah-input-beats 2.1.2`

In my example I had 32 multi-line log files (4 GB size total). The log entries have a relati

[2016-02-22 05:35] ruflin commented on #52
@ppf2 Can you give some insights on how this would simplify the migration to filebeat?
@ph I would be somehow surprised if this still works as we changed the format to JSON?

[2016-02-22 06:09] urso commented on #45
@berglh can you try with filebeat master, as this is the place we do some more changes. How did you measure throughput?

Next to spooler_size in filebeat set `publish_async: true`. This enables the async publisher pipeline enabling load-balancing in logstash. You can try to play with `spooler_size` and `bulk_max_size` to increase throughput. Sometimes setting these to 4096 did give me slightly bet

[2016-02-23 12:44] cero-t commented on #44
Same error with following versions (Amazon Linux)

Logstash 2.2.2 (new instance, clean environment)
Filebeat 1.1.1 (old instance, dirty environment!!)

But when I created a new Amazon Linux instance and installed Filebeat,
I could not reproduce this error.

I guess some other modules or libraries might cause this problem.
I will notice it when I find it.

[2016-02-24 22:56] jordansissel commented on #52
@ruflin the format beats uses is indeed JSON, and it uses a frame header of `2J` in the protocol. The old `1D` frame is still supported by the beats input. In implementation, it does work, as I have tested and saw some nice happy events going through  from LSF to beats input.

Use case: Make it easier to upgrade from LSF to Beats.
Constraints: Opening an additional network path to a new port may b

[2016-02-29 20:10] erikswanson commented on #8
When this gets implemented, can we please have access to information about the client certificate? I want to be able to an event to what client certificate was used to send it to Logstash.

[2016-03-01 09:45] yanou75pro commented on #33
Any news  ?

[2016-03-01 20:09] ph commented on #8
The event already contains the information about the shippe (which should be similar from the certificate)? Is that enough? What is your use case here?

[2016-03-01 21:04] erikswanson commented on #8
I need attribution of events to shippers to be absolute under the assumption of a malicious or compromised shipper. Hence, ideally, a logstash rule that puts information about the verified client ceritificate into the event instead of trusting origin information put into the event itself by the shipper.

[2016-03-02 18:48] ph commented on #52
@ruflin It work, but we don't advertise it.

[2016-03-03 12:23] userguy opened #53 ""Beats Input: Remote connection closed" Connection::ConnectionClosed rapping: EOFError"
{:timestamp=>"2016-03-03T17:22:34.579000+0530", :message=>"Beats Input: Remote connection closed", :peer=>"IP:42715", :exception=>#<Lumberjack::Beats::Connection::ConnectionClosed: Lumberjack::Beats::Connection::ConnectionClosed wrapping: EOFError, End of file reached>, :level=>:warn}

This has only come after updating it to latest version ..

I have clean installed on  other server ..What can be

[2016-03-03 14:13] ph commented on #53
@userguy  I have a few question concerning your installation:

- Which version of logstash you are running?
- Which version of the beats input you are running? bin/plugin list --verbose beats
- Do you have a Load balancer like ELB or haproxy in front of logstash?

[2016-03-03 14:16] ph commented on #53
I have removed this warning in https://github.com/ph/logstash-input-beats/commit/29ff875eb7954077755f38e0afb28a85c636b289 and is included in the `logstash-input-beats` 2.2.4

[2016-03-03 14:21] userguy commented on #53
filebeat-1.1.1-1.x86_64
logstash-2.2.2-1.noarch
logstash-codec-collectd (2.0.2)
logstash-codec-dots (2.0.2)
logstash-codec-edn (2.0.2)
logstash-codec-edn_lines (2.0.2)
logstash-codec-es_bulk (2.0.2)
logstash-codec-fluent (2.0.2)
logstash-codec-graphite (2.0.2)
logstash-codec-json (2.1.0)
logstash-codec-json_lines (2.1.1)
logstash-codec-line (2.1.0)
logstash-codec-msgpack (2.0.2)
logstash-codec-mul

[2016-03-03 14:33] ph commented on #53
I cannot push a new release of noarch with the updated plugins it will come in our next official release.
Have you tried to use the `bin/plugin pack command` to generated a new pack of the updated plugin with a machine with DMZ access to the internet?

https://www.elastic.co/guide/en/logstash/current/offline-plugins.html

Also you did not answer me, are you running logstash behind a proxy or not?

[2016-03-03 14:36] ph commented on #23
This was implemented in the refactor of the plugin in #38

[2016-03-03 14:36] #23 closed

[2016-03-03 14:37] userguy commented on #53
As of Now yes logs are not at all moving to logstash from beats .. It just gives me EOF error ..No there is no proxy .. It is just three machines one with filebeat , logstash , elasticsearch .. As of now for offline i am facing issues with offline update ..

[2016-03-03 14:56] ph commented on #53
We can rule out the health check from a proxy.

Any error in the filebeat logs? can you paste your configuration from both logstash and filebeat?
It might be a configuration issue.

[2016-03-03 15:05] userguy commented on #53
################### Filebeat Configuration Example #########################

############################# Filebeat ######################################
filebeat:
  # List of prospectors to fetch data.
  prospectors:
    # Each - is a prospector. Below are the prospector specific configurations
    -
      # Paths that should be crawled and fetched. Glob based paths.
      # To fetch all ".log"

[2016-03-03 15:07] userguy commented on #53
Also can you help me how can i enable logs in filebeat ???

[2016-03-03 15:28] ruflin commented on #53
@userguy To enable logging in filebeat: https://www.elastic.co/guide/en/beats/filebeat/current/configuration-logging.html

[2016-03-04 05:50] userguy commented on #53
@ph any input ??? by that time i will try to update via offline packagage

[2016-03-04 13:58] ph commented on #53
@userguy From your configuration files, you seems to use the plain tcp connection between filebeat and the inputs. The configuration seems fine to me, did you try to add debug logging in filebeat? It would be useful for us to see what filebeat is doing.

[2016-03-04 17:00] bwhaley commented on #44
FWIW I was seeing this (Amazon Linux, Logstash 2.2.0, Filebeat 1.1.0) until I updated the logstash-input-beats plugin from 2.1.2 to 2.1.4. No more messages.

[2016-03-07 18:39] jordansissel commented on #39
Closing <3

[2016-03-07 18:39] #39 closed

[2016-03-07 19:34] matglas commented on #44
I only have this error when I'm trying to connect through TLS. When I don't connect through TLS everything works fine. I have a docker setup with 3 hosts. And the problem is exactly the same everytime I try the settings with TLS it gives me

[code]

And in Filebeat:
[code]

I have a selfsigned certificate which works when testing it through openssl
`openssl s_client -connect logstash:5044`

It giv

[2016-03-07 19:36] matglas commented on #44
Filebeat.yml

[code]

Topbeat.yml
[code]

Input config in logstash.
[code]

[2016-03-08 04:02] ppf2 opened #55 "type field not being used"
Tested using LS 2.2.2's beat input.

[code]

The type field specified is not being honored.

https://www.elastic.co/guide/en/logstash/2.2/plugins-inputs-beats.html#plugins-inputs-beats-type

When sending events from the filebeat, it retains the default "log" value as the type value even though type is set to "beats" in the LS beat input.

To get this to work, I ended up setting document_type at th

[2016-03-08 04:25] andrewkroh commented on #55
I think that is the intended behavior.

The documentation for [type](https://www.elastic.co/guide/en/logstash/2.2/plugins-inputs-beats.html#plugins-inputs-beats-type) states:

[2016-03-08 04:43] ppf2 commented on #55
Somehow I missed that paragraph :)  Yah, will be helpful to clarify in the doc that the type parameter for the beats input will never be used since it is always set in the beat (and to use document_type in the beats configuration instead).

[2016-03-08 06:53] berglh commented on #45
@urso As I mentioned, I had `filebeat` sending directly to `logstsah` which wrote the output to file. I had a simple script that watched for the creation of the file, then did `wc -l` on the file and divided the value by `seconds since creation` as each event was a single line in the output file - it wasn't perfect but a reasonable value.

I already had `publish_async: true` and did experiment adj

[2016-03-08 10:20] ruflin commented on #45
@berglh Thanks a lot for taking the time and measuring all the different setups. We will definitively take this into account. It's interesting to see that the multiline implementation in filebeat is so much slower compared to log-courier.

[2016-03-08 14:11] ph commented on #45
@berglh Thanks for the description, I going back to tackle the issue probably next week.

[2016-03-08 14:25] ph commented on #44
@matglas I think this is the case of #47, Also since you are using a self signed certificate and the `logstash-input-beats` doesn't do any client side verification for now (until my PR is complete), It only does server verification. You can update your configuration to use `certificate_authorities` instead of the `certificate` and `certificate_key`, so you wont need to copy your private key to all

[2016-03-09 21:09] ph commented on #8
When implementing this I have encountered a Jruby/OpenSSL bug thats blocking me and that prevent the server to use intermediate ca. I have created an issue on Jruby-OpenSSL to track this https://github.com/jruby/jruby-openssl/issues/84

#56 is incomplete because of that, it will only work if the CA sign the client certificate directly which is problematic when you want to isolate CA.

[2016-03-09 21:57] ph commented on #8
I would like to have your feedback here concerning the usage of this feature, The PR #56 implement and currently work when you have a `Root CA` that directly sign Client/Server is this what you have in your current setup or you have a `Root Ca` and an `intermediate CA` that sign the Client and server certificate?

Is this an acceptable solution for you? I don't have a workaround until the jruby-op

[2016-03-10 23:12] cdenneen opened #57 "Beats input blocked"
[code]
[code]

logstash 2.2.2
logstash-input-beats 2.1.4

[2016-03-10 23:16] ph commented on #57
@cdenneen What outputs are you using? I am wondering where "{:timestamp=>"2016-03-10T18:09:55.780000-0500", :message=>"The error reported is: \n  execution expired"}" is coming from.

[2016-03-10 23:31] ph commented on #57
This issue is related to this other one you have create https://github.com/logstash-plugins/logstash-output-sqs/issues/9 ?

If one of the output is blocking the pipeline the beats input will effectively block and reject new events/connection this is the expected behavior.

[2016-03-10 23:37] cdenneen commented on #57
@ph 2 different instances one with beats input has ES output...

[2016-03-10 23:40] cdenneen commented on #57
yeah I'm curious where this is too... ```The error reported is: \n execution expired``` this is probably what's blocking the pipeline... I just don't know where it is

[2016-03-11 00:03] ph commented on #57
@cdenneen OK than is not related, can you share your config?

[2016-03-11 00:11] ph commented on #57
I did a quick search in  for "The error reported is" on the 2.2.2 code base and I can't find something related to the error you are getting. Can you reproduce it easily? if so adding `--debug` when starting logstash would give us where this error is emitted. This is far from ideal, but this would help us localize the log statement.

I suspect this is some kind of timer and/or a mutex timeout?

[2016-03-11 02:47] cdenneen commented on #57
@ph this is similar to issue I had with es output and `workers => "12"` caused crash while `workers => 12` didn't.
I think update to the --configtest is a must for logstash.
I'm trying to find the String issue that's causing this but I think based  on my 2 issues it's something to do with output-sqs on one instance and input-sqs on the other (all latest)

[2016-03-11 04:11] jordansissel commented on #57
This sounds like an unrelated (and unexpected?) issue. The `workers` setting is [declared a number](https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/outputs/base.rb#L26), and the [validation code for number](https://github.com/elastic/logstash/blob/master/logstash-core/lib/logstash/config/mixin.rb#L448-L468) hasn't changed in about [3 years[(https://github.com/elastic/log

[2016-03-11 04:50] cdenneen commented on #57
@jordansissel yes it's unrelated to beats but similar to the \n issue above.
"12" worked in 2.1.1 but not in 2.2.2 so it might not have been mixin but something changed that didn't like this.
All I was suggesting in related to the other String related parsing error was possibly a way to improve the overall config test. I can open a bug in logstash.

[2016-03-11 14:05] ph commented on #57
Yup that code didnt change, the only thing that change related to worker is that we now use delegators for the output. But this shouldn't cause any problems on the string vs number in the configuration since the coercion is done in the mixin.

[2016-03-14 13:26] cdenneen commented on #57
Still not sure why the String issue (\n) is happening but my blocked input beats was because of sqs output issues as result of underlying issue on ESXi node. Closing as my issue for beats directly is now resolved.

[2016-03-14 13:26] #57 closed

[2016-03-14 13:36] ph commented on #57
Thanks @cdenneen for updating this!
My guess concerning the `execution expired", I think its coming from the AWS library IIRC they have check when an execution takes too long to completed. Still worth investigating and making this error more clear.

[2016-03-15 17:07] #8 closed

[2016-03-15 21:01] ph commented on #52
I have added some test in #56 to cover LSF, but they are failling will do another PR to fix them.
Some issue when communicating with the LSF process.

[2016-03-16 23:24] jerrac commented on #44
I'm getting something like this when trying to receive topbeat logs from a Windows server.

logstash.log:

    {:timestamp=>"2016-03-16T15:52:32.087000-0700", :message=>"Beats Input: Remote connection closed", :peer=>"nn.nn.nn.nn:58826", :exception=>#<Lumberjack::Beats::Connection::ConnectionClosed: Lumberjack::Beats::Connection::ConnectionClosed wrapping: Lumberjack::Beats::Parser::UnsupportedPro

[2016-03-17 16:29] jerrac commented on #44
So, after looking at the topbeat.yml file my coworker sent me, I found that he was trying to send elasticsearch data to my logstash indexer... He hadn't uncommented the ```#logstash:``` line. Which gave him something like this:
[code]

That would explain the protocol error, right?

He hasn't fixed it yet, so I can't confirm on my own.

[2016-03-17 17:44] ph commented on #44
@jerrac Yes, that could explain it, since the output elasticsearch is using the http protocol and logstash is using a custom binary protocoll.

[2016-03-17 21:13] briangruber opened #58 "beats_input_codec_json_applied being added to tags"
I have json strings being written to a log file, one per line and I'm using filebeats to ship off to logstash (doing this instead of the logstash input plugin because that seemed to miss lines randomly and filebeats doesn't)

Here is the basic config for the input in logstash

[code]

My json object has a "tags" property that we use already and it seems that the beats input plugin adds `beats_inpu

[2016-03-18 02:40] briangruber commented on #58
It appears to be adding all kinds of keys to my object and OVERWRITING any existing ones. Is there any way to just stop it from adding anything at all? I don't need to store any of this in elasticsearch.

[2016-03-18 02:41] ph commented on #58
Did you create an issue for that? I presume it was with the file input?

I can see it as an option for disabling the tagging? I have added this since not only filebeat can send events logstash but topbeat, etc and it was a bit hard to know for a user when the codec was actually applied to the event.

[2016-03-18 02:42] ph commented on #58
Would you mind adding to this issue your json document and the json output that logstash produce?

[2016-03-18 15:00] ph opened #60 "Test failling because the port was already in use."
Port already in use on jenkins, I am pretty sure we use random port on each examples.

http://build-eu-00.elastic.co/job/logstash-plugin-input-beats-unit/jdk=JDK8,nodes=metal-pool/12/console

[code]

[2016-03-22 15:01] ph opened #61 "SSL_key_passphrase doesn't currently work."
Discovered when debugging an issue in https://github.com/logstash-plugins/logstash-input-tcp/issues/48
We need to call `.value` here to make sure we have the right key to decrypt the private key

https://github.com/logstash-plugins/logstash-input-beats/blob/master/lib/logstash/inputs/beats.rb#L118

[2016-03-24 16:55] danielgblanco opened #64 "SSL chain certificates"
Chained certificates don't seem to be working for `beats` input. I have the following configuration:

[code]

The `certificate.crt` file has a chain of certificates, but the intermediate ones don't appear to be sent correctly, because an `openssl s_client -host myhost -port 5044 -prexit -showcerts` fails to verify the first certificate in the chain.

If I do the same with the `tcp` input, it just

[2016-03-25 22:32] #61 closed

[2016-03-25 22:38] suyograo commented on #64
@danielgblanco chained certs don't work currently because of an underlying jruby bug. we're looking into it: https://github.com/jruby/jruby-openssl/issues/84

[2016-03-28 05:51] hrchu opened #66 "IdentityMapCodec has reached 100% capacity"
logstash 2.2.2
filebeat 1.1.2
arch: filebeat=>logstash=>elasticsearch

logstash continually output the following error message, and log cannot be write to elasticsearch.

[code]

How to fix this?
Thanks

[2016-03-29 09:39] danielgblanco commented on #64
Okay thank you. I'll stay tuned :)

[2016-03-29 13:04] gerane opened #67 ""Beats Input: Remote connection closed" "IOError, Connection reset by peer""
I am getting logs full of these errors.

[code]

[code]

Logstash Config:
[code]

WinLogBeat Config:
[code]

I am working through some other issues as well, but I am unsure if they are related. I can give information on those issues as well if you think they might be relevant.

Logstash gradually starts sending fewer and fewer logs to ES, and eventually kills itself when it runs out of memory. My

[2016-03-29 17:17] ph commented on #66
Oh, this should happen too often and the identity should be cleared.
Can you give a bit more information on your configuration?

- How many clients connected to logtash
- How many files are watched by filebeat?
- Can you dump a **heap dump** of the logstash process when this situation occur and attach it to this issue? using jmap, `jmap  -dump:file=memory.heap <PROCESS PID>`

Usually the IdentityM

[2016-03-29 17:21] ph opened #69 "Failling tests"
http://build-eu-1.elasticsearch.org/job/logstash-plugin-input-beats-unit/jdk=JDK8,nodes=metal-pool/lastBuild/console

[code]

[2016-03-29 17:28] ph commented on #67
Hello,
I have answers for both of your question.

Concerning this
[code]

The version shipped with logstash 2.2.2 was a bit too verbose for the **Remote connection closed.*, this situation can happen, in the latest version this error message is only yielded when you run logstash in debug mode.

But this could mean that something is wrong with your network or the connectivity, I suggest you increas

[2016-03-30 13:53] ph commented on #66
I've seen this problem in another use case, but the environment was bigger than yours, +500 filebeat with 40 files on each server.

@hrchu Are you using the multiline filter?  Can you share your configuration?

[2016-03-30 18:52] ph commented on #69
fixed in #68

[2016-03-30 18:52] #69 closed

[2016-03-31 01:42] hrchu commented on #66
@ph no multiline filter. Here is my config: https://gist.github.com/hrchu/20e08343121830ff7c6a54324811d219

[2016-03-31 13:42] ph commented on #66
@hrchu Would you mind adding a heap dump to this issue?

[2016-03-31 18:05] #60 closed

[2016-03-31 18:07] #52 closed

[2016-04-05 12:52] op-fasc commented on #33
+1

[2016-04-11 09:14] jay-dihenkar commented on #45
Any updates on timeline for expected bug resolve on this?

[2016-04-11 13:06] guyboertje opened #73 "Bug in `EventTransformCommon` when using the multiline codec"
Exception:
[code]

From [logstash issues 5084](https://github.com/elastic/logstash/issues/5084)...

beats-input `handle_new_connection` ensure block calls `flush` with a block
multiline `flush` yields events to the block given.
block callback calls `transformer.transform`
DecodedEventTransform#transform calls `codec_name`
EventTransformCommon#codec_name calls `@input.codec.base_codec.class.config`

[2016-04-11 13:46] ph commented on #73
/facepalm

[2016-04-11 14:15] robin13 opened #74 "TCP connections not being closed causes FD leak"
As there is not (currently) a keepalive signal from beats or a timeout in beats, connections remain indefinitely open leading to a filedescriptor leak - over time a logstash agent running with the logstash-input-beats may have thousands of open TCP connections, eventually running against the system limit for filedescriptors.

[2016-04-11 16:08] kurt5 commented on #74
+1

[2016-04-11 16:24] jordansissel commented on #74
@robin13 ahh, if the connection is opened by beats (client) and then abandoned (due to network failure or other disappearing-act) the TCP connection never closes?

+1 on adding a heartbeat frame to the beats protocol.

[2016-04-12 11:59] robin13 commented on #74
@jordansissel Yes - that's it.

[2016-04-12 14:41] guyboertje commented on #73
Closed by f5f08cc

[2016-04-12 14:41] #73 closed

[2016-04-19 03:35] berglh commented on #45
@ph @ruflin any chance to have a look into this yet? the beats have some great features that solve a lot of problems for us, but unable to due to the slow plugin performance, let me know if there is any other benchmarking i can do for you!

[2016-04-21 07:42] ruflin commented on #45
@berglh No specific update here yet, but we definitively have it on our list to be improved. Could you perhaps open an issue in the Beats repo with the data for multiline, so we can directly link to the issue when we fix it?

[2016-04-24 07:21] matajaz commented on #45
Hi,
I am tried to use and ELK server (logstash 2.2.4 and beats 1.2.1) to collect debug logs from my cloud applications but I see really poor performance even if I am generating events in much slower rate than test results above.
My app peaks event generation at 1383.10 KB/s, 8941 trace lines/s. An certain important event shows up 230 times/minute in original application log.
Kibana only detects th

[2016-04-24 07:32] tsg commented on #45
@matajaz Your issue seems different from the the one in this thread. Please open a topic in https://discuss.elastic.co/ not to derail this issue. We'll help you there. Thanks!

[2016-04-25 10:03] geissbock commented on #33
We are facing the same problem, not only with `@timestamp` but also with `type`. If the field `type` is already contained in the original (JSON) message, I would like to have an option which tells Filebeat not to overwrite it.

[2016-04-25 10:06] tsg commented on #33
@geissbock Are you doing the JSON decoding with Filebeat? In that case this was just added: https://github.com/elastic/beats/pull/1421 If @timestamp and type have the right types and `json.overwrite_keys` is enabled, the ones from the original JSON message are used.

[2016-04-25 10:13] geissbock commented on #33
@tsg What exactly do you mean with 'doing the JSON decoding with Filebeat'? My source file contains logs in JSON format, one message per line, and I send it to Logstash which is the configured as such:

[code]
Is this what you mean?

[2016-04-25 10:16] tsg commented on #33
Ah, no, something else. In the upcoming 5.0 (currently in alpha), Filebeat will be able to also do JSON decoding natively. We hit the same issue of overwriting @timestamp and type and that PR (not yet released) partially fixes it.

The JSON decoding support in Filebeat is primarily meant to be used with the Elasticsearch output, if you would use it with the Logstash output I suspect you will hit t

[2016-04-27 09:36] nick4u opened #80 "No x509 certificate validation missing - ERR SSL client failed to connect with: EOF"
I had problem with filebeat "msg: ERR SSL client failed to connect with: EOF"

After long searching I found that my issue was that my client cert expired.
Neither filebeat nor logstash produce any log at INFO,WARNING,ERROR that would point u to this even in debug mode.

all filebeat logs at debug level is :
[code]
I think at least one or both of those endpoints should log this - WARNING for logsta

[2016-04-27 09:40] nick4u commented on #80
I messed this up a bit as this is logstash-input-beats git and not filebeat .. anyway .. logstash with --debug also does not log anything about above case

[2016-05-03 22:07] stith opened #83 "Put TLS connection info in message metadata"
Hey Y'all!

With the new `@metadata` field it seems like Logstash could expose some potentially-useful info regarding the status of the TLS connection there, for cases where certificate-based verification of message sources might be important. For example, when `ssl_verify_mode => 'peer'`, a beat could connect with a client cert or without one, and it might be nice to know:

[code]
Or,
[code]

[2016-05-13 13:18] ph commented on #45
Going back into that issue and investigating with @urso what we is the actual problem tay tune.

[2016-05-13 13:34] urso commented on #45
did some more test today on hetzner machine.

For comparison `lsf -> logstash (beats plugin) = 30k eps`.

Tests use:
- [`generatorbeat`](http://github.com/urso/generatorbeat) to create and push events as fast as possible. Elasticsearch output bulk API has been modified to not parse JSON response and handle errors
- `test-lj` lumberjack test server written in golang ([go-lumber project](http://gith

[2016-05-13 13:40] ph commented on #45
@urso lets get theses numbers in https://github.com/logstash-plugins/logstash-input-beats/issues/45#issuecomment-176827802 I think it will make things a bit more fair, since the golang server doesnt have the pipeline ovehead.

[2016-05-13 13:54] ph commented on #45
This would be the number we had last time that should be in an equivalent setup for the go-lumber.

[2016-05-18 17:10] ph commented on #45
OK, I have made some progress here, I have created a pure netty implementation of the protocol and the initial benchmark look promising.

Initial benchmarks with this library outside logstash gives 55K EPS on my personal machine, which is a MacBook Retina. This performance is similar to the numbers I get from the go-lumber implementation on the same machine.

[2016-05-18 20:43] ph commented on #45
OK, beats input will be faster with the java rewrite, but something else is definitively a bottle neck inside logstash. On my machine I get 32K, which is almost 2.5 times the speed I had before (12417.6067793/s)

[2016-05-20 05:56] roidelapluie commented on #58
This behaviour is annyoing.  It breaks backward compat with the lumberjack input.

[2016-05-20 08:00] gelato commented on #29
Same problem now with 3.0.2 and 2.2.8 version - can't updtae the plugin.

[2016-05-20 08:03] gelato opened #87 "Can't update the plugin"
While i'm trying to update the plugin i recieve confirmation dialog:
You are updating logstash-input-beats to a new version 3.0.2, which may not be compatible with 2.2.8. are you sure you want to proceed (Y/N)?
But still nothing happens:
Updating logstash-input-beats
No plugin updated
Plugin is still 2.2.8 and when i try to use it i recieve error:
"undefined method `each' for nil:NilClass>"
Logsta

[2016-05-23 13:52] ph opened #88 "Add integration test for packetbeat"
We have an integration testing for filebeat, I think we should also add other beats to make sure the input can ingest all of their specific data.

[2016-05-27 13:20] ph commented on #29
@gelato Can you create a new issue and list your current setup? Note that the beats input version 3.X only works on Logstash 5.0, but 2.2.8 should work on any 2.X. installation.

[2016-05-27 13:23] ph commented on #58
@roidelapluie @briangruber Would you be in favor of adding an option to remove this behavior? I think its only a problem when the original data is coming from a json document?

[2016-05-27 13:42] ph commented on #87
The master branch of this plugin is 3.0 but its only compatible with LS 5.0, so the current last compatible version should be 2.2.8.

This message is a bug, LS shouldn't offer you to install an incompatible version, we have created an issue on the logstash repo to track it. You can follow the details at https://github.com/elastic/logstash/issues/5279, If you down mind I will close this issue.

[2016-05-31 14:27] ph commented on #45
So on hetzner with a netty implementation and a null output we reached ~100K EPS.

[2016-06-01 08:56] JNachtwey commented on #64
+ 1 Is there a workaround for this jruby bug?

[2016-06-01 09:12] danielgblanco commented on #64
One possible workaround is to add the chained certificate to the list of certificate authorities in your FileBeat conf (e.g. `/etc/filebeat/filebeat.yml`) in the following way:

[code]

[2016-06-09 14:18] ph opened #92 "Rewrite the beats plugin in pure java"
There is an ongoing effort to address #45, we took the decision to rewrite the server/protocol parser in pure java using the netty library. The WIP Feature branch is located at https://github.com/logstash-plugins/logstash-input-beats/tree/feature/java-implementation and require the `java-lumber` library located at https://github.com/elastic/java-lumber.

The code in theses repositories are not rea

[2016-06-13 13:13] JNachtwey commented on #64
I tested the workaround. It´s not working with chained certificates.

[2016-06-22 07:13] sunilmchaudhari commented on #53
@userguy ,
I was facing same problem with same use case, filebeat->logstash->ES.
I found that tsl option should be enabled in filebeat configuration. You might be setting ssl=> true in your logstashs beats input and at filebeat side tls option is disabled. Try enabling it.

[2016-06-22 17:03] sanjay-varanasi opened #95 "Logstash Kafka Beta "add_field" not working"
We're using Logstash's (version 2.3.2) 3.0.0.beta3 Kafka plugin to read from Kafka topic(s). I'm trying to add an "add_field" to the Kafka input so I can redirect the output based on this field. However, when I look at the stdout with metadata set to true, I don't see the custom field I created. Only the default "@version" and "@timestamp" fields. I'm guessing this is a bug, but I have a history o

[2016-06-22 17:07] #95 closed

[2016-06-23 23:02] jpcarey opened #96 "Document "beats_input_codec_#{codec_name}_applied" tag"
When using the logstash-input-beats, it will add a tag: "beats_input_codec_#{codec_name}_applied"
https://github.com/logstash-plugins/logstash-input-beats/blob/master/lib/logstash/inputs/beats/decoded_event_transform.rb#L14

This behavior is not documented, and current docs say the tag has no default value.  https://www.elastic.co/guide/en/logstash/current/plugins-inputs-beats.html#plugins-inputs-

[2016-06-27 17:32] ph commented on #92
Lets make sure we address too https://github.com/elastic/ruby-lumberjack/issues/10#issuecomment-228803692 I believe the sslhandler has a default settings for that but lets verify it.

[2016-06-28 18:42] pixelrebel commented on #39
I am trying to set up a reverse proxy for my logstash server.  I needed to verify if beats uses TCP.  This issue page was the only place I found that explicitly says that filebeats uses a TCP based protocol.

[2016-06-28 19:18] dedemorton commented on #39
@pixelrebel The Filebeat documentation explicitly states that Filebeat uses TCP: https://www.elastic.co/guide/en/beats/filebeat/1.2/logstash-output.html

[2016-06-28 19:25] pixelrebel commented on #39
Thanks @dedemorton, looks like I have bad google-fu.  `filebeat protocol` and `filebeat tcp` don't turn up much in google.

[2016-06-29 09:22] liu0013 commented on #33
+1

[2016-06-29 09:22] DannyXuEverbridge commented on #33
+1

[2016-06-29 09:24] xuyuanjin commented on #33
+1

[2016-06-29 09:33] stepon commented on #33
+1

[2016-06-29 17:55] noodlelunch commented on #33
I just ran into the timestamp issue as well, and unfortunately are blocked from switching to Filebeat because of it.

[2016-07-05 03:33] dfaropennetwork opened #97 "Problem installing readonly plugin"
I've the elasticsearh version 2.3.3

:/usr/share/elasticsearch$ sudo wget https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/logstash-input-beats/2.3.3/logstash-input-beats-2.3.3.zip
--2016-07-05 03:21:01--  https://download.elastic.co/elasticsearch/release/org/elasticsearch/plugin/logstash-input-beats/2.3.3/logstash-input-beats-2.3.3.zip
Resolving download.elastic.co (down

[2016-07-06 22:57] dfaropennetwork commented on #97
Anyone??

[2016-07-07 23:45] kvamshi commented on #33
Use the following filter in logstash config file and it will work.

filter {
        grok {
                match => [ "message", "%{TIMESTAMP_ISO8601:messageTimestamp} "]
        }
        date {
                match => [ "messageTimestamp" , "yyyy-MM-dd HH:mm:ss,SSS" ]
        }
}

[2016-07-12 03:18] sistemasokn commented on #97
aaaaanyone?

[2016-07-12 04:52] jordansissel commented on #97
This looks like something the forums are better equipped to answer. We use
github issues for bugs and feature discussion, and this looks like a
configuration or usage issue. Check out https://discuss.elastic.co/

On Monday, July 11, 2016, sistemasokn <notifications@github.com> wrote:

[2016-07-13 01:24] sistemasokn commented on #97
great jodan thanks so much, i will.

[2016-07-13 12:08] lenrico commented on #64
https://www.elastic.co/guide/en/beats/filebeat/current/configuring-tls-logstash.html

[2016-07-19 04:44] highbass commented on #46
this is still visible on version 2.2.2 ... are teh cahnges supposed to be merged up to 2.2.x?

[2016-07-19 04:59] highbass commented on #46
i have version 2.2.2 ... looks like the changes did not make it into 2.2.x ?

{:timestamp=>"2016-07-19T00:58:38.710000-0400", :message=>"Beats Input: Remote connection closed", :peer=>"X.X.X.X:50655", :exception=>#<Lumberjack::Beats::Connection::ConnectionClosed: Lumberjack::Beats::Connection::ConnectionClosed wrapping: EOFError, End of file reached>, :level=>:warn}

seeing a flood of these

[2016-07-19 13:24] ph commented on #46
@highbass I suspect that the 2.2.2 version that you mention is actually the logstash version?
Plugins and logstash have independent version, 2.1.4 was the plugin version, I dont remember what version is shipped with 2.2.2 but you can retrieve it by doing this command.

`bin/plugin list --verbose beats`

If the version is not 2.1.4 or higher you can update it with the following command:

`bin/plugi

[2016-07-19 18:29] ph opened #98 "Running out of FD make hilarous things happen"
Make it more resilient when we run out of FD.

[code]

[2016-07-19 18:29] ph commented on #98
moved from https://github.com/logstash-plugins/logstash-input-beats/pull/93

[2016-07-19 18:31] ph opened #99 "Sending a MAX_INT as the json payload length cause the parser to throw an exception"
Sending a MAX_INT as the json payload length causes fun errors

Reproduction:

[code]

full output
[code]

[2016-07-19 18:34] ph commented on #99
One things is weird in the send data `1W` should be `2W`.

I havent tested it, maybe the state machien is trying to parse a v1 frame and not a json frame.

[2016-07-19 18:35] ph opened #100 "Sending garbage data will raise weird exception"
If you throw garbage at a plain text beats input, you get all kinds of fun exceptions:

To reproduce:

% bin/logstash --log.level debug -e 'input { beats { port => 12345 } }'
...
% dd if=/dev/urandom bs=4k count=1 | nc localhost 12345

full output
[code]

[2016-07-19 18:38] ph opened #101 "Make ssl/socket acceptance have timeouts #10"
copied from https://github.com/elastic/ruby-lumberjack/issues/10

We shouldn't allow a misbehaving client to hinder acceptance of new ssl connections. Reported in elastic/logstash-forwarder#429 is an issue (I think?) that relates to a bad/stalled client disappearing in the middle of of a handshake or is unable to complete it successfully - can cause the whole acceptor thread to stall, possibly for

[2016-07-19 18:42] ph opened #102 "Create stress tests / performance scenario"
We need to test the following scenario.

[code]

[2016-07-19 19:41] jordansissel opened #103 "Performance investigation"
Let's compare:

| Logstash                         | Sender   | Rate |
|----------------------------------|----------|------|
| 2.3.4                            | Filebeat |      |
| 2.3.4                            | LSF      |      |
| 5.0.0 alpha4                     | Filebeat |      |
| 5.0.0 alpha4                     | LSF      |      |
| 5.0.0 alpha4 (+ new beats input) | Filebeat |      |

[2016-07-19 20:31] ph commented on #103
I had a small issue with LSF and the java rewrite trying to figure out what is causing this.

[2016-07-19 20:35] ph opened #104 "LSF v1 frame cause the input to lock and slow down"
When doing testing for #103 I came accross an issue that its not catched by the integration test.
When sending multiple frames to the input we can see locks and slow downs.
On the LSF side we see disconnect and on the logstash side the dots aren't coming at a constant rate and much slower. (3k EPS)

I've started Logstash using this command line:

[code]

And use this one for LSF.

[code]

LSF conf

[2016-07-20 08:14] tsg commented on #103
@ph I remember with the old plugin we had an approximately 2x difference between LSF and Filebeat, that we never could quite explain or solve. In this latest set of tests, the difference (when using the old plugin) seems a lot smaller. Did you figure out what was the issue? Or are there differences in testing?

Also,   I ❤️  👍  💯  🎉  the new plugin performance!

[2016-07-20 12:30] ph commented on #103
@tsg I recall the 2x difference, I still want to get at the end of this story. I think to get that straight I will have to design a better test and also test on a real machine like @urso did.

Theses numbers come from my macbook which isnt'  the best place to start.

[2016-07-20 14:13] ph commented on #98
@jordansissel What would be the best way to fail here? The solution is just increasing file descriptor.

[2016-07-20 14:18] ph commented on #100
The beats parser get confused by the frame it received and just crash, So the way to fix this is to make sure we have received a valid header at the beginning of the batch to continue with the parser if its not the case we can just raise and `InvalidFrameException` or `UnknownProtocol` Error.

[2016-07-20 15:44] ph commented on #99
V1 Frame have also the same problem if you send a negative fields, so I've changed both of these part to assert an integer.

It will make the parse more robust overall, even if the case should really occur.

[2016-07-20 18:04] talevy opened #107 "Tools: CLI + server"
Since the beats java library is meant to be just that, a library, it would be nice to extract the `Runner.java` into a separate tools module in the same gradle project. In addition to that extraction, it would be nice to include another tool to help interact with the Runner from the command line. For example a `beatscat` tool that you can interact with via unix pipes to send events to it, and have

[2016-07-20 19:52] ph commented on #98
I've did some research and experimentation on this topic, I've seen java fails in really weird ways when it happen.

So not sure we can provide a nice way to reject connection, but we could do the following:

- Add a new handler in the channel pipeline
- The new handler will check the limit of the FD when a new connection occur
- Using a threshold it could yield a warning on new connection in the

[2016-07-20 19:57] jordansissel commented on #98
@ph indeed! I got similar very very weird traces when running out of file descriptors. I wonder if we can somehow set the maximum number of connections for the input to be something like 80% of the file descriptor limit? It might be a good first step.

[2016-07-20 20:00] ph commented on #74
This is fixed in the java rewrite, the settings is very high for now 750 seconds, but I will reduce that to 30 and expose it in the plugin.

[2016-07-20 20:02] ph commented on #43
The java rewrite deleted almost all of them.

[2016-07-20 20:02] #43 closed

[2016-07-20 20:02] ph commented on #21
We cannot drop this for now, since the plugins still need to be backward compatible with LSF to allow people to have an easier migration path.

[2016-07-20 20:02] #21 closed

[2016-07-20 20:04] ph commented on #67
I will be closing this issue, feel free to reopen it with more details.

Thanks

[2016-07-20 20:04] #67 closed

[2016-07-20 20:04] #87 closed

[2016-07-20 20:30] erikswanson commented on #83
My use case for wanting to know the client certificate CN is forcing `host` and `beat.hostname` to match the client certificate's CN, to prevent forgery of log message origin in the event of the compromise of a host with a valid client certificate. (I could trivially accomplish my use case if the proposal above was implemented, but am stuck on being able to use beats for security logging without i

[2016-07-21 13:25] ph commented on #98
@jordansissel Yeah its worth investigating, I've look deep inside the netty framework yesterday and I haven't found where to change that kind of behavior I believe its much higher than the `ChannelHandler`.

Because when we are in the `ChannelHandler` the accept loop has already kick in and got stopped by the FD issues.

I will give another go next week, I will remove the 5.0.0 label for that and

[2016-07-25 19:38] #74 closed

[2016-07-25 20:28] ph commented on #103
In a `c4.4xlarge` with alpha 4 still go a 50% speed up improvements, but the numbers are still low to me, I am revisting the code to make sure I add a regression anywhere.

@urso  Can you test this gem with your test setup that you had?https://www.dropbox.com/s/efukp6bbfhn2g91/logstash-input-beats-3.1.0.beta1-java.gem?dl=0

[2016-07-26 03:42] #99 closed

[2016-07-26 03:42] #100 closed

[2016-07-26 12:57] #101 closed

[2016-07-26 13:26] ph commented on #104
Seems OK now, my setup was bad.

[2016-07-26 13:26] #104 closed

[2016-07-26 13:33] ph commented on #103
We are running @urso's https://github.com/urso/ljtest with the latest version to get new results.

[2016-07-26 13:46] ph commented on #103
OK, there is a regression in speed in our first iteration vs the last one.

**NOW** compression + no pipelining -> 37K
**BEFORE** compression  + no pipelining -> 67K

So there is definitively something

[2016-07-26 13:59] ph commented on #103
I will investigate the following from what I know that change between the first test and the last release.
- [ ] compression handling
- [ ] Ack Handling is now done by another handler.
- [ ] IdleStateHandler is triggered more often.

[2016-07-26 15:07] ph commented on #103
Without LS, the library is doing ~100KEPS

[2016-07-26 15:12] ph commented on #103
The problems seems in ruby/logstash land not in the java/netty code base, If I remove all the work done on the data that is coming from the socket, I get 60k EPS which is really similar to what I had before.

[2016-07-26 16:26] ph commented on #103
The slowdown is when we work with the `DecodedEventTranforms` or any other manipulation on the hash itself, I thought about making it async but messages ordering need to be preserve.

[2016-07-26 17:28] ph commented on #103
This part of the code is super slow, this wasn't done in the batch of test.
[code]

[2016-07-26 17:41] ph commented on #103
/facepalm we use `Time.parse` here to coerce the time, checking also if we can use `Event.append` to remove the loop here, because append will do a hash merge.

[2016-07-26 17:53] tsg commented on #103
Oooh, could it be that LSF didn't send a timestamp? So that code was not executed for LSF, which might explain the difference?

[2016-07-26 18:00] ph commented on #103
@tsg That assumption is correct, LSF never send a timestamp and we always used `Time.now` in that specific case. Also, the LSF Format is smaller and probably faster read (I haven't benchmarked it) the current code is still faster than we had.

But I am checking if this parsing would be faster at the even level.

[2016-07-27 09:47] lenrico commented on #64
Hi,

any updates here?

The workaround is ok, but not THE solution.
We need a trusted chain to validate all clients, a secure connection alone is not sufficient.

Is that issue not important enough?

Can we help with anything, tests or something else then let us know!?

Best
Enrico

[2016-07-27 14:45] ph commented on #103
After discussing with @talevy I think what we could test here it to parallize the codec/time/hash  works using a threadpool, acks still need to be ordered though.

[2016-07-28 13:05] ph opened #111 "IdleStateHandler isn't `@Shareable` and make multi connection crash."
The IdleStateHandler isn't `@Shareable` and this mean that the same instance cannot be used by multiple channel .

In clear, this is really a big problem since the server cannot accept multiples distinct connections, it will raise an exception.

This is a regression merged by #101 and we don't have any integration test for multiples clients.
I will fix the issue and create an integration test for

[2016-07-29 13:09] #111 closed

[2016-08-01 14:12] dvsekhvalnov commented on #58
+1 If `tag` property was generate by application, filebeat overwrites it with content of shipper.tags section + `beats_input_codec_json_applied` value.

It should be merged IMO. because it doesn't allow app to use dynamic tagging of events.

[2016-08-03 14:25] sigmavirus24 commented on #58
This seems related to #96.

I would love to have a configuration option to disable this instead of having to add it to a filter to remove these.

[2016-08-03 15:47] tsg opened #115 "Error on second connection"
Version: LS 5.0.0-alpha5 (RC) Beats plugin:  3.1.0.beta3
Operating System: Ubuntu 12.04 (32 bits)
Java version: 1.8.0_101
Using the tar.gz

Steps to Reproduce:

* Start Logstash with the following:

[code]

* Start Filebeat with the following config:

[code]

The `test.log` file just has a few lines in it:

[code]

* Dots should be printed
* Kill filebeat (^C) before finishing the file
* Delete th

[2016-08-03 15:52] ph commented on #115
This was an issue with b3, I have fixed it in b4.

Related issues: https://github.com/logstash-plugins/logstash-input-beats/pull/112

[2016-08-03 17:32] tsg commented on #115
I can confirm that it's fixed in beta4. Thanks, @ph ❤️

[2016-08-03 17:32] #115 closed

[2016-08-05 14:24] #58 closed

[2016-08-05 14:24] #96 closed

[2016-08-05 15:15] ph commented on #45
work done in #92

[2016-08-05 15:15] #45 closed

[2016-08-05 15:16] #92 closed

[2016-08-08 20:12] andrewkroh commented on #55
There have been numerous users on Discuss that try to use `type => "xyz"` in their beat input config, and then they write conditional logic based on the `type` field that does not work as expected.

They always miss the note in the docs or never saw it. Since `type` is a required field that is enforced by libbeat, can we just remove the `type` option from the beats input?

These are few examples w

[2016-08-12 01:04] ceeeekay opened #116 "3.1.0.beta4 - Misleading error when SSL key or cert is not readable"
While running tests for https://github.com/elastic/logstash/issues/5756 I noticed that if the SSL key or cert defined in the LS config are present but the logstash user cannot access them, LS throws a misleading error on startup.

Ideally there should be a message stating "Key/cert cannot be read - check permissions" or similar.

Logstash 5.0.0-alpha5
logstash-input-beats 3.1.0.beta4
Ubuntu 14.04.

[2016-08-12 04:19] iceiilin commented on #55
Encountered the same problem. @dedemorton , I saw that you contribute a lot to logstash-docs repo, so am wondering if there is any chance to help removing the misleading "type" description for beats plugin in the docs?

[2016-08-12 18:52] dedemorton commented on #55
@iceiilin I'll look into it. The problem is that the `type` option is inherited and shared by other plugins, so the description is somewhat generic. I'll see if we can override the description or at least make it more clear in the introductory content that the option is ignored.

[2016-08-15 20:15] magnusbaeck opened #117 "Include peer IP addres and port information in beats events"
The tcp and udp inputs provide peer IP address and port information in the `host` and `port` fields, but this is missing from events emitted by the beats input. This is obviously a limitation if you want to save the client’s IP address as a field but also if you want the client’s FQDN. The hostname in the `host` field comes from `[beat][hostname]` field which typically wouldn’t be a FQDN. With the

[2016-08-16 13:47] ph commented on #117
@magnusbaeck It totally make sense for me to add these in the input. +1

[2016-08-16 14:46] ruflin commented on #117
@urso Could we have this as potential meta data that is added by "some" outputs?

[2016-08-19 20:55] KIVagant commented on #87
I have same issue with logstash 2.3.4.

[2016-08-19 21:32] jordansissel commented on #87
@KIVagant the message "You are updating logstash-input-beats to a new version 3.0.2, which may not be compatible with 2.2.8. are you sure you want to proceed (Y/N)?" is caused by a bug in the plugin manager which offers you a version (3.0.2) of the plugin that is not compatible with your version of Logstash (v2.3.4). This bug is tracked here: https://github.com/elastic/logstash/issues/5279

the be

[2016-08-19 21:34] KIVagant commented on #87
Thank you, @jordansissel . Sorry, I missed the link above.

[2016-08-22 18:21] ph commented on #64
@lenrico Would you mind testing logstash alpha5, there is a new version of the beats input which should support intermediate CA.

[2016-08-23 07:11] lenrico commented on #64
I,ll do some tests and give you feedback...

[2016-08-23 20:55] khalifanizar opened #118 "Logstash pipeline bloqued"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version:
`filebeat version 1.2.3 (amd64)`
`logstash 2.3.4`

- Filebeat confi

[2016-08-24 13:40] ph commented on #118
It can be multiple factors, in 2.4 is a bit harder to get that information. But usually the problem is either.

A) The output is slower than the input.
B) the filters are slowing things down, Grok can be expensive to run.

If you remove stdout do you still get that error? Because stdout + rubydebug can take some CPU time. Since theses can be pretty verbose we only use them in development.

With ho

[2016-08-24 13:57] ph commented on #116
OK, this error need to be solved at the logstash level I will move the issue there.
Logstash doesn't check if he can read the file, we only verify if the file exist.

Logstash will show this error if the file doesn't exist.
[code]

[2016-08-24 13:57] #116 closed

[2016-08-24 13:59] ph commented on #116
moved to https://github.com/elastic/logstash/issues/5820

[2016-08-25 12:47] ph opened #122 "Replace logger.debug in the `BeatsParser` with `logger.trace`"
When you run Logstash in debug mode with the new log4j2 backend it can get really noisy, there is a lot of debug statement that will just send too much information into the log.

Instead of using **debug** we should use *_trace_.

 Ref: https://github.com/elastic/logstash/issues/5650

[2016-08-25 13:53] ph opened #123 "Good certificates/private key will be declared as invalid"
The integration test should have pick this up, I believe the latest changes from #119 broke the plugin. There seems to be a problem with the handling of private key and the converter, it is used to convert from PKC7 to PKCS8.

[code]

[2016-08-25 13:54] ph commented on #123
This error was detected when running the `Runner` class inside the java project, 2.4 doesn't expose that much information.

[2016-08-25 21:35] dedemorton commented on #55
Clarified in the doc that type setting is ignored. See PR #121

[2016-08-25 21:35] #55 closed

[2016-08-26 02:10] iceiilin commented on #55
Great! Thanks.

[2016-08-26 11:32] tsg commented on #123
Still failing for me with plugin version 3.1.1, not sure if I'm doing anything else wrong. I don't get any errors in the Logstash logs, but I uploaded the full logs [here](https://gist.github.com/tsg/5e8d1e9db0fe84bd393d165457f0d885) in case I'm missing something.

[2016-08-29 13:12] ph commented on #123
Fixed in 3.1.2. Make sure the private keys are in PKCS8.

[2016-08-29 13:12] #123 closed

[2016-08-29 13:14] ph opened #127 "Standardize SSL Options"
We are trying as much as possible to standardize all our SSL options accross all of our products.

### Server Settings
As a server (X-Pack, Kibana, Logstash):

| Description       | Setting       | Default | Valid values |
| ----------------- | ------------- | ------- | ------------ |
| enabled setting   | `ssl.enabled` | `false` | `true`, `false` |
| verification mode | `ssl.verification_mode` |

[2016-08-29 13:17] ph commented on #127
Concerning the ciphers with the java rewrite I can confirm that the DEFAULTS ciphers are the one described in the Mozilla list.

[2016-09-14 12:21] renkin commented on #92
What is the current status of this beats plugin? It is listed as Potential Candidate of 2.4 Release, but was not included as I understand.

We want to use the beats Java implementation on AIX. Currently we use the Java implementation of the deprecated Logstash-Forwarder (https://github.com/didfet/logstash-forwarder-java).

[2016-09-14 13:20] ph commented on #92
@renkin This rewrite is only concerning a beats input for Logstash and not a new standalone client, we have beats for that need, beats itself is written in golang, but sadly there is still no support for the AIX platform see https://github.com/golang/go/issues/7208.

I believe you only have two option:

1. This input plugin is still backward compatible with logstash-forwarder client, so you can st

[2016-09-15 09:21] tsg opened #129 "Exception while converting Key"
- Version: beta1 IRC
- Operating System: linux/docker

I was trying to test the beta1 IRC, but I'm getting an exception on startup:

[code]

The certificates are the ones from [here](https://github.com/elastic/beats/tree/master/testing/environments/docker/logstash/pki/tls) which should be created with the right openssl version (I did try to recreate them).

The full debugging output can be found h

[2016-09-15 09:22] tsg commented on #129
CC @ph

[2016-09-15 12:53] ph commented on #129
That's problematic, the last release of the beats input shouldn't contains the PrivateKeyConverter.java.

I known whats happening, IIRC the unified build process takes the 5.0 branch to generate the artifact and in our branch the lockfile (which is the source of truth for the version) is set to the
**3.1.0.beta4**!

See https://github.com/elastic/logstash/blob/5.0/Gemfile.jruby-1.9.lock#L248
Not s

[2016-09-15 13:37] ph commented on #129
This will be fixed by https://github.com/elastic/logstash/pull/5925

[2016-09-15 18:05] ph commented on #129
We will respin a new beta1, the fix is in master

[2016-09-15 18:05] #129 closed

[2016-09-16 08:14] huleboer opened #131 "if [type] == "beats" doesn't work"
The following config will not work.. I worked around it in my setup ( it's a lot bigger) but I belive it should work... tudor_g on irc also suggested that it probably were a bug after thinking about it :)

"tudor_g: because we list "type" as an option, but if it's not actually usable then it is a bug"

Anyway this config will not work:

input {
beats {
  port => 5045
  type => "beats"
}
}

output

[2016-09-16 08:18] tsg commented on #131
My suspicion is that the Winlogbeat type that we send via Lumberjack is overwriting this "type" from the Logstash config. But we didn't verify that in any way, yet.

[2016-09-16 08:28] huleboer commented on #131
Versions:
logstash 2.4.0-1
logstash-input-beats (3.1.3)

[2016-09-16 13:39] ph opened #132 "log4j warning when run from 2.4"
When you start the plugin in 2.4 we get a warning.

[code]

[2016-09-16 13:39] ph commented on #132
I believe #130 fixed the issue

[2016-09-16 13:59] ph commented on #131
This is also a bug to mean, the problem is the following if the original content has a type we will not override it. The plugin call `#decorate`, if the type were not there it would be correctly setup.

The `type` option come from the base class inside logstash, this is an architecture problem, this should have been modules that people can opt in. Until we refactor that, we cannot remove that opti

[2016-09-16 14:00] ph opened #133 "Test currently failling on travis"
Since #130 was merged the test are now failling on travis, the change look OK to me be but all the ssl integration test just stopped working.

[2016-09-19 07:12] huleboer commented on #131
I just changed my code to if [type] == "syslog" { } else {} and beats is else then.. So it wasn't a big problem once I knew what the problem was. But I'm sure add_tag would have worked aswell.

[2016-09-19 10:09] Sunde93 opened #135 "Error when starting logstash"
Hello,

I tried to install filebeat to send my logs to logstash but the beats plugins for logstash is on error when i strat logstash :

Couldn't find any input plugin named 'beats'. Are you sure this is correct? Trying to load the beats input plugin resulted in this error: no such file to load -- logstash/inputs/beats"}

I don't understand why i'm getting this issue, i just installed this plugin f

[2016-09-19 10:12] jsvd commented on #135
which version of logstash is this? are you using the tgz, zip, dep or rpm? which operating system?

[2016-09-19 10:17] Sunde93 commented on #135
Logstash 2.3.4 installed by the tgz on CentOS 6.5

[2016-09-19 10:23] jsvd commented on #135
can you also post the config? thanks

[2016-09-19 10:27] Sunde93 commented on #135
Here :

input {
  beats {
    port => 5044
  }
}

output {
  elasticsearch {
    hosts => "<my_ES_ip>:9200"
    manage_template => false
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}

Thanks for ur time.

[2016-09-19 10:37] jsvd commented on #135
This is strange, works well for me:

[code]

can you try unpacking the tgz again?

[2016-09-19 12:58] Sunde93 commented on #135
Stange but it's working now, after unpacking the tgz again.
Perhaps, it was because i installed the beats plugin while it was already on the tgz.. Dunno.

Thanks u :)

[2016-09-19 13:05] Sunde93 commented on #135
Hmm, i got a new isssue :

When i start logstash with service logstash start, the issue is still here :
"The error reported is: \n  Couldn't find any input plugin named 'beats'. Are you sure this is correct? Trying to load the beats input plugin resulted in this error: no such file to load -- logstash/inputs/beats"}
^C
"

But when i execute this, it's work... :
$ ./bin/logstash -f conf/20-beats.co

[2016-09-20 13:20] ph commented on #107
Remove the hardcoded path in Runner.
[code]

[2016-09-20 15:35] ph opened #136 "Custom JSON frame with boolean value fails when forcing an encoding on the value."
Journalbeat send a custom json frame that contains a boolean value, in the the code path we try to force an encoding on every received values but we don't make any assertions if the value is in fact a string thus falling on boolean (or any other type that dont implement `force_encoding`)

In retrospect, I am not event sure this for this required for custom frame.

[code]

[2016-09-21 14:06] ph opened #137 "Allow to run the integration test with stable filebeat and master filebeat"
Since this plugin need to be backward compatible with 1.3.X and 5.0.0, we should be able to run the same integration test agains't both versions.

[2016-09-21 15:08] ph opened #138 "The plugin raise a TypeError when you are using a `passphrase`"
The passphrase uses the `Password` class to hide the sensitive information to retrive the actual password the code need to call `#value` on the instance.

The code doesn't do that making the java layer throw a `TypeError` since it was expecting a String.

[2016-09-22 08:45] mrjameshamilton opened #140 "Install offline"
When I try to install offline - with pack on a machine with internet connection, or by building the gem from source, it still tries to connect to rubygems.org and fails.

Installing logstash-input-beats
Error Bundler::HTTPError, retrying 1/10
Could not fetch specs from https://rubygems.org/

How can I install it on a machine without an internet connection?

[2016-09-22 13:46] ph commented on #140
To do an airgap/offline installation you will have to use the `pack` command, this page should help you go through this process.

https://www.elastic.co/guide/en/logstash/current/offline-plugins.html

[2016-09-22 13:46] #138 closed

[2016-09-22 13:46] ph commented on #138
fixed by #139

[2016-09-22 13:47] mrjameshamilton commented on #140
I did exactly that and still get the error

[2016-09-22 13:49] ph opened #141 "`IdleState.READER_IDLE` will close a connection if logstash takes a long time to process the current batch."
If Logstash takes a long time to process a batch, the **IdleStateHandler** will trigger a `IdleState.READER_IDLE` event and logstash will close the current connection.

We need to check if Logstash is currently processing a batch and implement the following logic.

- If we aren't processing => **close**
- If are => **ignore** that event.

[2016-09-22 15:40] ph commented on #133
This was fixed in https://github.com/logstash-plugins/logstash-input-beats/pull/139

FB's TLs options was changed to SSL

[2016-09-22 15:40] #133 closed

[2016-09-22 15:45] ph opened #143 "Flaky synchronization on the integration test"
We have to come up with a better way of doing the assertions on the integration test, they have been a bit flaky recently on travis, it doesn't appear to be a bug in the code but the really a timing issue with the external process and logstash.

Maybe we could use  `Stud::Try` like we did in the https://github.com/elastic/logstash/blob/feature/ruby_integration_tests/qa/integration/specs/beats_inpu

[2016-09-22 19:04] moribellamy opened #144 "Release Java Filebeat Server code into Maven Central"
https://github.com/logstash-plugins/logstash-input-beats/tree/master/src/main/java/org/logstash/beats

It seems like this will grow to be the code that logstash uses to listen for filebeat data. Would be great to share this code to maven central so that other developers can ingest filebeat data directly into their Java application.

[2016-09-22 21:27] acchen97 commented on #140
@mrjameshamilton there are known issues with the offline plugin installation workflow today, see https://github.com/elastic/logstash/issues/5906.

As a stop gap solution, you could stage your LS directory on an online box (install/update all plugins required) then package+ship it to your offline boxes.

[2016-09-22 21:29] jordansissel commented on #140
The problem is with the plugin manager, not the beats input. Let's redirect discussion for this over to this ticket: https://github.com/elastic/logstash/issues/4651

[2016-09-22 21:29] #140 closed

[2016-09-26 11:36] neuroid opened #146 "The host setting seems to not have any effect"
- Version: 3.1.3 (bundled with logstash 2.4.0)
- Operating System: Debian Jessie

My config looks like this:

[code]

Running with `--debug` shows:

[code]

However, when I check the listening sockets I get:

[code]

[2016-09-26 13:38] ph commented on #146
I Will take a look

[2016-09-26 14:12] ph commented on #146
I can confirm its a bug,

instead of `bind(port)` it should use `bind(String inetHost, int inetPort)`

[2016-09-26 15:50] CVTJNII opened #147 "beats input only using first configured ES output host"
Logstash version: logstash 2.3.3 via the public logstash:2.3.3 container
Beats gem: logstash-input-beats-2.2.9

When running Beats with the Elasticsearch output Beats is only attempting to connect to the first configured host.  Take the following example config:

[code]

When es-data1 goes down the beats input will block.  The following output was noticed when this issue was hit:

[code]

Beats wa

[2016-09-28 14:14] #141 closed

[2016-09-28 14:14] #143 closed

[2016-09-28 23:29] #146 closed

[2016-10-04 17:56] PhaedrusTheGreek opened #149 ""failed to set certificate and key""
When configuring Beats input for TLS security, **if the SAN (SubjectAltName) is not set** in the loaded certificate, a generic error is thrown.

[code]

- Version: 2.4.0
- Operating System: RHEL 7.1

[code]

[2016-10-04 18:06] PhaedrusTheGreek commented on #149
Closing as there was a potential problem during my test - i will verify this.

[2016-10-04 18:06] #149 closed

[2016-10-04 18:09] PhaedrusTheGreek commented on #149
This error is actually the result of the certificate and key being mismatched

[2016-10-04 18:12] PhaedrusTheGreek commented on #149
Beats Input having a certificate with an Empty SAN or invalid SAN will work , but only if `insecure:true` is set in Beats, which is not recommended.

[2016-10-04 18:20] PhaedrusTheGreek commented on #149
Also noting here that if we have `ssl_verify_mode => "force_peer"`, then we must trust the Beats client's certificate, but its SAN doesn't have to exist or be valid.

[2016-10-11 14:16] ph commented on #147
This issue is a `logstash-output-elasticsearch` issue I've moved the issue to the output ES https://github.com/logstash-plugins/logstash-output-elasticsearch/issues/492

[2016-10-11 14:17] #147 closed

[2016-10-12 15:06] suyograo commented on #144
Hi @moribellamy thanks for raising this issue.

The Beats protocol (the successor of Lumberjack) and it's Java implementation is still under active development as we work on integrating multiple (new) Beats with Logstash. As such, there may be breaking changes and bugs which may annoy external consumers and put pressure on us as maintainers. We think it is premature at this point to publish the pr

[2016-10-12 15:06] #144 closed

[2016-10-21 15:49] ph opened #150 "Investigate the memory consumption of beats input"
Check if we can use `discardBytes()` and `discardSomeBytes()`, by default the `ByteToMessageDecoder` will free the bytes in the bytebuf every 16 calls.

I think it's fine for small packets or small messages but might not be appropriate when we are actually dealing with a 2048 events data frame, this size is the default of FB. This could mean that the input retains more memory than actually needed

[2016-10-26 00:13] ph opened #151 "Validate the presence of `ssl_certificates_authorities` when verify mode is set to FORCE_PEER."
Validate the presence of `ssl_certificates_authorities` when verify mode is set to FORCE_PEER and throw an error if not present.

[2016-10-26 14:22] ph opened #152 "Give better feedback when the port is already taken"
We should give a better user error when the port is already in used
instead of giving `A plugin had an unrecoverable error. Will restart this plugin.`

from: https://discuss.elastic.co/t/please-help-in-logstash-error/62926

[2016-10-28 02:32] jordansissel opened #153 "bug: ssl_certificate_authorities setting only loads the first certificate in each file."
Buggy code linked here: https://github.com/logstash-plugins/logstash-input-beats/blob/776f05ce52111d39e394798428598abfd4dbbf68/src/main/java/org/logstash/netty/SslSimpleBuilder.java#L152

[code]

CertificateFactory.generateCertificate(...) only returns a single X509Certificate. However, a single file can contain multiple certificates.

Fix: Use CertificateFactory.generateCertificates(...) (the plu

[2016-10-28 13:19] ph commented on #153
lets make sure we also update the doc to reflect that changes.

This sentence under the **certificates_authorities** need to be removed.

[2016-10-28 18:15] #153 closed

[2016-10-31 14:23] ph opened #157 "Can we make the beats input faster"
The current implementation of the beats inputs is faster than the first implementation in ruby but I believe we have some more room to make it faster, first lets compare it to the V1 protocol.

**Lumberjack V1**

- Less data transmitted, so smaller frame.
- Easier serialize format using key->value, really fast to parse.
- flatten format.
- No date where parsed
- The Event time stamp is a `Time.now

[2016-11-03 02:15] bkuberek commented on #146
Sorry to poke this thread but I am having an issue with the beats plugin not listening on port 5044 as well. Is this bug affecting version 2.3.0 (Mar 29, 2016) ?

Thanks

[2016-11-03 04:00] ph commented on #146
This issue was about 2.4.0 which included the java rewrite of the beat input.

@bkuberek 2.3.0 was shipped with an older version of beats which was written in ruby at that time, 3.0.4 ? or something close.

by looking at the code the server accepts an address: https://github.com/logstash-plugins/logstash-input-beats/blob/v3.0.4/lib/lumberjack/beats/server.rb#L51  and the input pass that value to t

[2016-11-03 04:34] bkuberek commented on #146
@ph Turns out we had a syntax error in the logstash configuration and the service kept restarting. After we fixed that it's all good. Thank you for taking the time to answer my question. I really appreciate it.

Best,

Bastian

[2016-11-03 14:34] #151 closed

[2016-11-10 18:15] gmoskovicz opened #158 "bootstrap checks for the beats input"
When starting Logstash i got the following error:

[code]

I grabbed all the log file and there was nothing pointing at what was happening. Until starting the pipeline with **--debug** and then we got more info:

[code]

Maybe we should print a `BindException` as we do in Elasticsearch with the bootstrap checks? Do we need bootstrap checks in some inputs?

[2016-11-17 12:03] rauizab opened #159 "logstash v5.0.1 cipher not available"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: 5.0.1
- Operating System: Centos 7
- Config File (if you have sensi

[2016-11-17 17:03] jordansissel commented on #159
Can you attach your beats configuration as well?

[2016-11-18 08:44] rauizab commented on #159
My filebeat is

[2016-11-18 13:29] Sunde93 opened #160 "InsertingToQueueTakeTooLong"
I got this issue when i'm using filebeat as input :

Multiline: flush downstream error {:exception=>#<LogStash::Inputs::Beats::InsertingToQueueTakeTooLong: LogStash::Inputs::Beats::InsertingToQueueTakeTooLong>, :level=>:error}

version : logstash-input-beats (2.2.9)
logstash-2.3.4

How can i avoid this ?

[2016-11-18 13:55] ph commented on #160
@Sunde93 Can you update to logstash 5.0.0 or 2.4.1? both of theses version ship with a newer version of the beats input that has a newer implementation for communicating the back pressure back to the client?

Also concerning the multiline its better to do it closer to the source on the filebeat side.

[2016-11-21 21:56] jordansissel commented on #159
What version of Java? (`java -version`)

[2016-11-22 11:32] rauizab commented on #159
openjdk version "1.8.0_92-internal"
OpenJDK Runtime Environment (build 1.8.0_92-internal-alpine-r1-b14)
OpenJDK 64-Bit Server VM (build 25.92-b14, mixed mode)

[2016-11-22 13:46] Sunde93 commented on #160
Upgrading to logstash 2.4.1 correct my old issue, thanks.

[2016-11-22 13:46] #160 closed

[2016-11-22 13:58] ph commented on #64
I will be closing this, since the java rewrite certificate chains now works and we have integration test for that scenario.

[2016-11-22 13:58] #64 closed

[2016-11-22 13:59] ph commented on #132
confirmed that the #130 PR fixed that issue

[2016-11-22 14:01] ph commented on #152
closing this in favor of https://github.com/logstash-plugins/logstash-input-beats/issues/158

[2016-11-22 14:01] #152 closed

[2016-11-22 14:01] ph commented on #34
I will be closing this issue this problem was related to the old implementation of beats done in ruby. I believe the current java implementation is not affected by this issue.

[2016-11-22 14:01] #34 closed

[2016-11-22 16:15] untergeek commented on #159
Internal?  As in, it's a custom build of the OpenJDK?  If true, that might have something to do with it.

[2016-11-22 16:35] jordansissel commented on #159
My hypothesis is that one of two things is happening.  These are speculation that require testing to validate:

1) Maybe: Your java build is custom and doesn't have support for ciphers that beats offers.
2) or, Maybe: your ssl certificate somehow is causing an SSL negotation that is preventing normally-working ciphers from working. This is a rare problem I have never seen in production.

[2016-11-22 17:41] miguelfg commented on #33
That doesn't work for me, I do the following:
`
  grok {
    match => { "message" => "%{TIMESTAMP_ISO8601:logtime} %{GREEDYDATA:content}" }
  }
  date {
    remove_field => [ "%{@timestamp}" ]
    match => ["logtime", "yyyy-MM-dd HH:mm:ss,SSS"]
  }`

[2016-11-22 17:58] suyograo opened #161 "Provide error message when port is in use"
From https://github.com/elastic/logstash/issues/6279 when port is in use (this case multiple LS instances) we fail with a stacktrace which has no actionable message for the user. We should bail nicely with an error message if the port is in use.

[code]

[2016-11-23 12:40] rauizab commented on #159
I will try with another java version. I can close the ticket and open it again if a find the problem again.
Do you have a java version recommendation?
Anyway, just to mention that with version 5.0.0 it was working and with 5.0.1 not.

[2016-11-23 18:40] jautz opened #163 "Connection closed / logstash: Client Timeout / filebeat: EOF"
## Summary

In my experiments with the very promising filebeat/logstash setup for remote logging I ran into an issue with connections being closed prematurely. That is, when producing log data in intervals greater than five seconds the connection between filebeat and logstash would be closed. I did not witness any data loss but at least data duplication (only once so far).

Still I wanted to incre

[2016-11-23 19:08] ph commented on #163
@jautz Thanks for the reproducable case, I've seen similar report too on this problem. I will do some testing and add an integration test for it.

[2016-11-23 19:17] ph commented on #163
I believe this is a bug, the idleStateHandler should use the configured value and only be trigger every minute.

OK, I have found the problem, the `client_inactivity_timeout` is not sent to the server.

https://github.com/logstash-plugins/logstash-input-beats/blob/master/lib/logstash/inputs/beats.rb#L172

Concerning duplicates, We are implementing at least once semantic and in this case FB is rese

[2016-11-23 19:33] ph commented on #163
I've create #164 that should fix the issue you are having, I will try to get that merged/released quickly.

[2016-11-23 19:35] ph commented on #161
Its a duplicate of https://github.com/logstash-plugins/logstash-input-beats/issues/158 so I will close this one.

[2016-11-23 19:35] #161 closed

[2016-11-23 19:38] jautz commented on #163
Thank you, @ph, for your quick reaction. I am glad to hear you already found out what is causing this issue.

Concerning duplicates: I have read about the _at least once_ guarantee and wanted to confirm that this promise has been kept so far. Maybe I should have put it differently to make it sound more positive.

[2016-11-23 21:03] ph commented on #163
@jautz I should have said *only once sementic* is really hard :),

But there is way around that you can use the fingerprint or hashid filter to create a unique ID with the log data and use it as the document_id, this will make the es output update or create the event which should reduce the duplicates.

I've just pushed beats input 3.1.10 you can install it with bin/logstash-plugin update logstash

[2016-11-24 10:02] vad commented on #159
same problem here on Ubuntu 14.04, solved removing the system OpenJDK (1.7). Oracle JDK (1.8) was the default but apparently OpenJDK breaks something even in that case.

[2016-11-24 13:19] jautz commented on #163
@ph wrote:

Of course, I was eager to test the new version. However, the plugin update fails with the following message. I apologize if this is me doing things wrong since I am rather unexperienced with the elastic stack. As mentioned in the initial post this is a logstash 1:5.0.1-1 installed via apt from the elastic.co repositories.

[code]

If this is too much of a hassle, maybe I will wait for

[2016-11-24 13:58] ph commented on #163
@jautz

[2016-11-24 13:58] #163 closed

[2016-11-24 14:01] ph commented on #163
@jautz This could be a legit bug, let me try on my hand,

Can you create a new issue for it and add the output of the following command?

[code]

[2016-11-24 14:03] robin13 commented on #132
It seems that this has come back in version 3.1.8 of the plugin (deployed with Logstash 2.4.1)

[code]

results in

[code]

[2016-11-24 14:12] ph commented on #163
On a fresh debian install.

[code]

[2016-11-24 14:18] ph commented on #132
confirmed its back :(

[code]

[2016-11-24 20:49] jautz commented on #163
Thank you for trying to reproduce. I can confirm that this must have something to do with my test server. I just tried it with a fresh docker container on my laptop using the logstash image from docker hub and there the update works, both with the builtin openjdk and also after replacing that with an oracle jdk.

With your debugging hints I will try to find out what's going wrong tomorrow. If it t

[2016-11-25 12:39] get2arun commented on #161
Please close. Its fixed now.

[2016-11-25 13:54] ph commented on #163
@jautz thanks its really appreciated! 👍

[2016-11-25 17:30] jautz opened #167 "logstash-plugin update logstash-input-beats fails: Non-parseable POM"
This report is a spin-off originating in #163 or more specifically [from this comment onwards](https://github.com/logstash-plugins/logstash-input-beats/issues/163#issuecomment-262774704).

I managed to run `logstash-plugin update logstash-input-beats` successfully in a docker container but I failed to make it work on several of my company's (virtual) machines although I created them just for this

[2016-11-28 11:28] raja3000 opened #168 "client_inactivity_timeout is ignored and not effective"
HI,

I am using v3.1.8 and noticed client_inactivity_timeout is ignored and not effective. I am using Ubuntu 14.04

I have captured the same in our forum (discuss.elastic.co/c/logstash)

My configuration file

    input {
      beats {
        client_inactivity_timeout => 3000
        host => "192.168.57.4"
        port => 5044
      }
    }

[2016-11-30 22:38] jordansissel commented on #168
@ph Thoughts?

[2016-11-30 22:44] jordansissel commented on #167
@ph or @guyboertje maybe y'all have ideas? I've run into this error before (`Non-parseable POM ...jars/gemspec_pom.rb`) but I dont' remember how to resolve it.

[2016-12-01 00:44] ph commented on #168
This was fixed in beats 3.1.10-12 with the PR #164 and #169, @raja3000 can you update to the latest version of the plugin? You can use the following command.

``bin/logstash-plugin update logstash-input-beats``

[2016-12-01 00:53] ph commented on #167
@jautz  Oh thanks for inclusing the whole command history ❤️ , I know what is the problem.
I see that you are running a `HTTP_PROXY`, there is a known issue with proxies, you'll need a workaround to make it work, see this comment https://github.com/elastic/logstash/issues/6044#issuecomment-253854228

I will make a PR to update the doc.

@jordansissel One trick to debug this kind of problem is to r

[2016-12-01 14:41] jautz commented on #167
Thanks for the hint, this helped me to solve this issue.

Please note that apart from the maven proxy settings you mentioned I also had to edit `/etc/java-8-openjdk/net.properties` since a JavaVM is involved via JRuby in this process. It must contain `java.net.useSystemProxies=true` (or alternatively all the proxy details in its dedicated `*proxy*` properties). By default it ignores the system set

[2016-12-01 14:49] ph commented on #167
thanks @jautz for the update

[2016-12-01 19:11] thehhugg opened #170 "Beats plugin does not get restarted after unrecoverable error"
Logstash doesn't properly restart the beats plugin if it fails. Restarting logstash resolves the problem, but that's not an ideal solution.

```{:timestamp=>"2016-12-01T18:33:51.729000+0000", :message=>"A plugin had an unrecoverable error. Will restart this plugin.\n  Plugin: <LogStash::Inputs::Beats port=>5044, codec=><LogStash::Codecs::Plain charset=>\"UTF-8\">, host=>\"0.0.0.0\", ssl=>false, ss

[2016-12-01 21:24] wasmum opened #171 "Beats does not honor 'host' setting listening on specific host IP"
Please post all product and debugging questions on our [forum](https://discuss.elastic.co/c/logstash). Your questions will reach our wider community members there, and if we confirm that there is a bug, then we can open a new issue here.

For all general issues, please provide the following details for fast resolution:

- Version: logstash-2.4.0
- Operating System: CentOS Linux release 7.2.1511
-

[2016-12-01 21:40] jordansissel commented on #170
Hmm, that indeed looks like a bug.

@ph thoughts?

[2016-12-01 22:30] ph commented on #170
@thehhugg This indeed look like a bug, can you add the logstash version and the beats input version you are currently using? Also is this possible to include your configuration?

Is there any other error before that one? The event executor terminated, make me things that `plugin#stop` was called.

You can get the beats version by running this command

`bin/logstash-plugin list --verbose beats`

[2016-12-02 00:54] ph commented on #171
Hello @wasmum thanks for reporting it, this is a duplicate of #146 and it was fixed in version [3.1.6](https://github.com/logstash-plugins/logstash-input-beats/blob/master/CHANGELOG.md#316)  of the plugin. I suggest that you update your plugin using the following command:

[code]

[2016-12-02 00:54] #171 closed

[2016-12-02 13:29] clemh78 commented on #159
Same problem (https://discuss.elastic.co/t/problem-with-cipher-in-beat-input/67841) on Red hat 6.7. @rauizab you have found a solution ?

[2016-12-02 16:08] Sunde93 opened #172 "A plugin had an unrecoverable error."
Hello,

I have this issue when launching logstash, i didn't understand what is the problem :

"A plugin had an unrecoverable error. Will restart this plugin.
  Plugin: <LogStash::Inputs::Beats port=>5044, type=>"omslog", codec=><LogStash::Codecs::Multiline pattern=>"^%{TIMESTAMP_ISO8601}", negate=>true, what=>"previous", charset=>"UTF-8", multiline_tag=>"multiline", max_lines=>500, max_bytes=>1048

[2016-12-02 18:28] ph commented on #172
This seems to be a similar issue as #170,

I wondering if there is not something going with the multiline implementation in the beats input.

@Sunde93 Can you add the logstash version and the beats version you are currently runnings?

You can get the plugin version with `bin/logtash-plugin list --verbose beats`

[2016-12-02 22:01] thehhugg commented on #170
Sure!

Logstash version: `2.4.1`
Beats version: `logstash-input-beats (3.1.8)`

Config, other notes, etc:
[code]

```Linux ~ 3.10.0-327.10.1.el7.x86_64 #1 SMP Tue Feb 16 17:03:50 UTC 2016 x86_64 GNU/Linux```

```Docker version 1.12.3, build 6b644ec```

- Logstash is running as a Marathon app in a Mesos-managed container.
- There weren't any errors preceding this one 😞

For what it's worth, it hasn

[2016-12-03 00:56] ph commented on #170
@thehhugg Thanks for the info, we had another report of a similar error in #172 I will do a bit more testing on my side if I can come up with a reproducible use case or at least provide more debug info.

[2016-12-05 09:29] Sunde93 commented on #172
Hi, here is my logstash and beat plugin version :

logstash -> 2.4.1
logstash-input-beats -> 3.1.8

Regards,

[2016-12-06 08:41] ISMAELMARTINEZ commented on #33
In my case I had to go via mutate gsub as my "message" has to be parsed.
[code]
Hope helps,

[2016-12-08 12:51] rauizab commented on #159
Still I was not able to do it.
I tried with:
* installing version 5.0.2 of filebeats and logstash
* installing java version 1.8.0_111-internal
* I listed java ciphers available following: https://confluence.atlassian.com/stashkb/list-ciphers-used-by-jvm-679609085.html . List (my cipher is included):

`Default	Cipher
*	SSL_DHE_DSS_WITH_3DES_EDE_CBC_SHA
 	SSL_DHE_DSS_WITH_DES_CBC_SHA
 	SSL_DHE_RSA_E

[2016-12-09 14:58] runningman84 commented on #172
this also happens with the latest 5.0.x release of logstash:

[code]

[2016-12-09 15:25] jordansissel commented on #172
The error you posted says this:

Error: Address already in use

This means that something is already using the port you are telling
Logstash to use.

On Fri, Dec 9, 2016 at 6:58 AM runningman84 <notifications@github.com>
wrote:

[2016-12-10 13:59] runningman84 commented on #172
@jordansissel yes that was another error... thanks for the hint.

[2016-12-10 15:30] rauizab commented on #159
Maybe this is related. They look similar:
https://github.com/elastic/logstash/issues/6121

[2016-12-12 10:03] Sunde93 commented on #172
Hi, what about my issue ? how can i make it work maybe using another method ?

[2016-12-12 12:58] rauizab commented on #159
Tried with v5.1.1. Same result.

[2016-12-12 15:56] rauizab commented on #159
Related to https://discuss.elastic.co/t/problem-with-cipher-in-beat-input/67841

[2016-12-15 09:24] clemh78 commented on #159
jess_571 has explain a solution in this topic : [https://discuss.elastic.co/t/problem-with-cipher-in-beat-input/67841/5](https://discuss.elastic.co/t/problem-with-cipher-in-beat-input/67841/5)

[2016-12-15 10:20] rauizab commented on #159
I added to jvm.options but still getting the same error:
-Dio.netty.native.workdir=/logstash/temp
-Djava.io.tmpdir=/logstash/temp

[2016-12-15 10:21] rauizab commented on #159
Anyone was able to make it running with docker?

[2016-12-16 04:35] sravanjosh opened #173 "Need IP address of beats to be included as field when beats is behind NAT"
When the beats is running behind NAT, logstash has no way to know the public ip address of beats running node to plot geoip map.

Most of our nodes (esp. in IOT vertical) run behind NAT. To know public IPs of these nodes, only logstash can ingest public ip field.

[2016-12-16 05:37] jordansissel commented on #173
@sravanjosh I'm not sure what you are asking for. Can you provide more details or a diagram of some kind that indicates what is missing in the beats input today and what you'd like included?

[2016-12-16 06:57] sravanjosh commented on #173
Let me put it in a different way.

I have a situation where we deploy our devices across the globe and all these devices are sitting behind NAT. Which means, the IP addresses that they have are private and are of no significance globally.

I have a requirement to do a geoip mapping of all the devices to see statistics in global map in Kibana.

But if beats send the IP address from the end node to

[2016-12-16 13:41] rauizab commented on #159
On trace I see:
[2016-12-16T13:39:49,657][DEBUG][io.netty.util.internal.logging.InternalLoggerFactory] Using Log4J as the default logging framework
[2016-12-16T13:39:49,669][DEBUG][io.netty.util.internal.NativeLibraryLoader] -Dio.netty.tmpdir: /tmp (java.io.tmpdir)
[2016-12-16T13:39:49,669][DEBUG][io.netty.util.internal.NativeLibraryLoader] -Dio.netty.native.workdir: /tmp (io.netty.tmpdir)
[2016-1

[2016-12-16 13:41] #159 closed

[2016-12-16 18:02] jordansissel commented on #159
For context, this failure indicates that `libcrypt.so.1` was not found. Your operating system vendor will provide this. For example, on Fedora 24, `/lib64/libcrypt.so.1` is provided by the `glibc` package.

[2016-12-16 18:09] jordansissel commented on #159
On my workstation at home, libnetty's tcnative library seems to link just fine for me:

[code]

I hope this helps.

[2016-12-22 07:48] buzzdeee opened #174 "LS 5.1.1 beats input plugin unsupported cipher suite TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384"
I'm testing LS 5.1.1 (ES/Kibana are already at that version)

Because of this issue
https://github.com/elastic/logstash/issues/6121
I had this in my beats input definition:

[code]

that was working properly with LS 2.4.1.
Then on startup of LS 5.1.1 I got:

[code]

so I removed the cipher_suites parameter, in order to let the plugin pick some default cipher, but then I get on startup:

[code]

I'

[2017-01-06 17:47] #168 closed

[2017-01-12 14:23] ph opened #175 "Update to Netty 4.1.7.Final"
Update netty libs to 4.1.7.Final

[2017-01-13 23:28] trixpan opened #176 "Plugging does not follow beats protocol specification"
Everywhere in this plugin, 32 bit unsigned int are handled as int

In order to handle the full unsigned 32 int in java, numbers should be longs

[2017-01-14 03:50] #176 closed

[2017-01-19 14:15] christoe opened #177 "Nested json-logs should not be parsed recursively"
Our applications logs everything using json, with an additional json blob enclosed in the message field, e.g.:
[code]
These messages are shipped using Filebeat (5.0) to Logstash (5.0) and then saved in Elasticsearch (5.0).
[code]
Expected behavior in this case is that the message field is kept as a string and not processed (which is the case in the tcp+json_lines). With the beats input plugin the

[2017-01-19 17:42] sc-chad opened #178 "Logstash not closing close_wait connections."
- Version:
logstash 5.1.2
logstash-input-filebeat: 3.1.12
- Operating System: Amazon Linux
- Config File (if you have sensitive info, please remove it):
- Sample Data:
- Steps to Reproduce:

Similar issue to: https://github.com/elastic/logstash/issues/6300
Previous discussed issue: https://github.com/logstash-plugins/logstash-output-s3/issues/120

Issue: I believe we have narrowed it down to the f

[2017-01-21 04:10] schrodinger-kater opened #179 "Include peer IP addresses in network error messages"
Periodically in the logs logstesh I find the following messages:
`[2017-01-21T07:32:42,989][ERROR][org.logstash.beats.BeatsHandler] Exception: Connection reset by peer`
On the day of such lines may be accumulated up to a hundred pieces, but it is not clear that this is - one and the same host or different hosts in a random order...
Maybe add an address of the remote host (or more extended informat

[2017-01-21 23:11] mrbanzai commented on #170
I have the same sort of issue, when trying to launch multiple beats inputs on different ports.  Perhaps that's the common thread?

[2017-01-27 14:44] ph opened #180 "Include Remote IP address in the Event medata"
Currently, every event generated by the beats input contain the `beat.hostname` this information is copied from the original metadata sent by the client.  In some case it might be good to know the ip adress of the client to do better filtering.

I suggest we use the information on the connected client to add a new field named `beat.ip_address` that will hold the IP address

[2017-01-30 13:18] academ1c commented on #174
@buzzdeee Hi, this proble may with tmp dir for natty ssl lib. Create tmp  dir without option noexec.
It my jvm.options file

[code]

[2017-01-31 15:56] ph commented on #174
I can confirm that @academ1c is right here, and the issue is when netty tried to uncompressed the native library, changing the workdir or the logstash tmp dir in `config/logstash.yml` will fix the issue.

I've created a #181 to yield a better error than the missing ciphers.

[2017-02-03 19:45] fbacchella opened #183 "Maven repositories integration"
This code is a generic netty plugin. I tested it, it work flawless in about 20 lines of code, so it could be helpful to many peoples.

Can it be found in a public maven repository, so I can add it as a dependency to my pom.xml from my project ?

[2017-02-03 19:48] ph commented on #183
Hi @fbacchella, We don't currently have a short them plan to make it available on maven central, we may revisit that in the future. But nothing prevent you to include the .jar in your project which will work.

previous discussion here: https://github.com/logstash-plugins/logstash-input-beats/issues/144

[2017-02-03 19:48] #183 closed

[2017-02-04 09:52] fbacchella opened #184 "Issue with BeatsHandler.java"
Reading the code of the BeatsHandler, I see many things that I don't understand.

It's marked Sharable, but there is state in it, with the variables `processing` and `context`.

With:

    logger.debug("Sending a new message for the listener, sequence: " + message.getSequence());

A debug logger should not do operation without first checking if it's needed, especially when it's call frequently, li

[2017-02-04 14:22] urso opened #185 "Investigate LS->beats read timeout"
For all general issues, please provide the following details for fast resolution:

- Version: beats and logstash 5.2

We've got a number of reports about beats->Logstash connection loss due to timeout:

[code]

This timeout occurs when beats is waiting for ACK from the input plugin. In case logstash is busy, a heartbeat signal `ACK 0` is supposed to be send every 5 seconds, to signal beats the bat

[2017-02-04 14:30] urso commented on #185
Another one: https://discuss.elastic.co/t/metricbeats-timeout/73890

[2017-02-05 10:08] fbacchella opened #186 "Protocol version 1 can be improved"
For json payloed and compressed payload, reading the the header and the payload is separated in two steps. That allows decoding to works if the decode is called in the middle of the payload, it will just be called again.

This is not done for data field, the parsing is done in one pass, with incomplete payload, the decode will fail with out of bound exception, thrown by call like in.readBytes(fiel

[2017-02-05 10:13] fbacchella opened #187 "No sanity check for input"
With code like:

     ByteBuf buffer = ctx.alloc().buffer(requiredBytes);

or

     Map dataMap = new HashMap<String, String>(fieldsCount);

and no check for those values, a buggy or evil client could easily generate a remote DOS  on a beats server.

[2017-02-07 13:40] ph commented on #184
Agree, I will change that.

[2017-02-07 13:41] ph commented on #186
@fbacchella The version 1 of the protocol is End of life, I don't see the need to support that anymore, In a future version of the beats we can remove it.

[2017-02-07 13:42] ph commented on #187
If you want to make any PR to improve the current code I will gladly merge them.

[2017-02-08 05:28] Ankit-Kulkarni commented on #172
hi @ph I also received the same issue which led me here . Though my issue is solved , I am not sure my finding is of help to you but I could reproduce the below error in logstash version 5.1.1 .
[code]
I got the above error only in case when I had two config files in conf.d both of which had the input section defined .

[code]
My previous understanding was defining same configuration in multiple f

[2017-02-08 14:19] makarchuk commented on #163
After updates seems to be an issue again. Downgraded plugin from 3.1.12 to 3.1.10 and it solved my problem

[2017-02-08 16:11] baurmatt commented on #170
We're too. If we can provide further information please let me know.

[2017-02-08 22:04] buzzdeee commented on #174
Hi,

sorry for getting back late, only found time today to look at it again.
I'm still at the same LS 5.1.1, and I  added:

-Dio.netty.native.workdir=/usr/local/yalla
to /etc/logstash/jvm.options
and did a
mkdir /usr/local/yalla && chmod 777 /usr/local/yalla

just to be on the safe side, then I ran logstash with --log.level debug

besides all the startup debug logs, then before the error message c

[2017-02-08 22:06] jordansissel commented on #174
We don't have tests that run on OpenBSD, so we wouldn't catch this.

I agree with your summary, though, that netty doesn't ship openbsd libraries.

[2017-02-08 22:26] jordansissel commented on #174
I submitted too soon, sorry about that --

@ph and I have been talking about netty, tcnative, and java ssl, and we will see about having Netty use the Java SSL library instead of the tcnative library (boringssl). I'll file a separate issue about that.

[2017-02-08 22:28] jordansissel opened #188 "Should we switch Netty to use the Java SSL engine instead of tcnative/boringssl?"
Everything else in Logstash uses Java crypto (and sometimes bouncycastle, but that's still java). This input is an exception that it uses libssl (via tcnative/boringssl).

I'd like to consider moving to have this input use Java crypto instead of boringssl.

Thoughts?

[2017-02-08 22:29] ph commented on #188
@jordansissel For compatibility reason, We should move to it. I don't expect it to be really hard, all the SSL logic is encapsulated in one classes.

[2017-02-08 22:34] buzzdeee commented on #174
Bummer, that's quite a disappointing regression for me then. My ELK stack is based on OpenBSD ports/packages, and runs fine on OpenBSD for quite some time now.
For OpenBSD -current, Kibana/ES have already ports/packages for 5.X versions, only LS is lagging behind because of my negative test results with regard to beats and SSL.

Maybe an alternative netty could be bundled into the jar, i.e. readin

[2017-02-08 22:35] ph commented on #174
@buzzdeee I think moving to java crypto will be the best solution.

[2017-02-08 22:36] jordansissel commented on #174
Yeah, we are very likely to move away from tcnative/boringssl and switch to java crypto. The issue tracking this is here: https://github.com/logstash-plugins/logstash-input-beats/issues/188

Positive Impact: using Java crypto will make the beats input work on all platforms, not just ones on which Netty project releases native libraries.

[2017-02-08 22:37] ph commented on #174
@buzzdeee I don't have time release for that, but I have other issue in the input to look into, I will try to merge it at the same time.

[2017-02-08 22:39] buzzdeee commented on #174
whatever makes it work on OpenBSD again makes me happy. I've no real clue about java, and I was really happy that I kind of luckily seem to have found the root cause of my trouble.

[2017-02-10 01:08] feichaohao commented on #178
How to solve the problem?

[2017-02-10 01:12] feichaohao commented on #178
filebeat  set :
spool_size: 1024
 idle_timeout: 5s

logstash set :
beat{         port => 5044
        type => "log"
        add_field=>{"short_message"=>"product"}
        add_field=>{"host"=>"host"}
    }

[2017-02-12 10:56] matamouros commented on #170
Same here. From one day to the next, this started happening. Restarting Logstash, the filebeat shipper, etc, doesn't do anything. When I restart Logstash this starts happening after a few seconds.
[code]

My relevant config (working as of yesterday evening):
[code]

Any help much appreciated, will happily provide more details.

[2017-02-13 18:57] ph commented on #185
This is revealling to be an easy fix, the `BeatsHandler` is marked as shareable but has states in it.

[2017-02-13 20:46] ph commented on #185
I think #191 also address this problem, will do a bit more testing to make sure it does.

[2017-02-13 22:42] PhaedrusTheGreek opened #192 "Include the Beats source host/ip in Exception message"
When receiving a message like the following:

[code]

It would be helpful if we could log the source IP address / hostname of the connecting Beats agent.

[2017-02-14 12:27] purplesrl commented on #172
i had the same error, thanks @Ankit-Kulkarni

the problem was i had two input sections

[2017-02-14 15:04] ph commented on #172
@purplesrl Two beats input with the same port?

[2017-02-14 15:10] purplesrl commented on #172
@ph

I put in two .conf files with "input" sections, I wanted to unite the .conf files into one, and in that directory, there was also the separate config files (e.g. 10-input,20-filter,30-output.conf) but also total.conf

[2017-02-17 20:52] renevdm commented on #132
It seems like the error is back again:

`# service logstash configtest
log4j:WARN No appenders could be found for logger (io.netty.util.internal.logging.InternalLoggerFactory).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.
Configuration OK
`
No events flow into elasticsearch via logstash. But when I disab

[2017-02-17 20:55] ph commented on #132
@renevdm It's a warning, it shouldn't affect the receiving of events?

The problem is the log4j bridge api was removed from the `logstash-core` https://github.com/elastic/logstash/commit/8dfefad58a1d5257016b1225994abfed2306d8ca

The plugin need to be shipped with the bridge to correctly record log.

[2017-02-17 20:59] renevdm commented on #132
Yes it's a warning, but when running logstash with beats inputs enabled, logstash stops handling all events. Even stopping logstash doesn't work anymore, it looks like it is really stuck, but shows no errors in the log files. Only way to stop logstash is using a dirty "kill -9"

[2017-02-17 21:00] ph commented on #132
@renevdm let's open a new issue with your problem and keep the log4j issue in this one.

[2017-02-17 21:01] renevdm commented on #132
Ok, seems fair to me :)

[2017-02-17 21:05] renevdm opened #193 "log4j warning stops logstash to work"
When checking the logstash config, I get this "warning":

[code]

When I start logstash, no events flow into elasticsearch. But when I disable all beats inputs, the error messages disappear and events do flow into elasticsearch.

Yes it's a warning, but when running logstash with beats inputs enabled, logstash stops handling all events. Even stopping logstash doesn't work anymore, it looks like it

[2017-02-17 21:06] renevdm commented on #132
https://github.com/logstash-plugins/logstash-input-beats/issues/193

[2017-02-17 21:07] ph commented on #193
What version of Logstash you are running and the version of beats?

[code]

[2017-02-17 21:08] ph commented on #193
Also if you bump up the error level to debug do you see more information that could explain why logstash is stopped? You can do that with `--log.level debug`

[2017-02-17 21:15] renevdm commented on #193
# bin/logstash-plugin list --verbose beats
logstash-input-beats (3.1.8)
# bin/logstash version
logstash 2.4.1

[2017-02-17 21:28] ph commented on #193
Ok the beats if a few version behind, I think that the shutdown hang was fixed in part of a newer release wasn't documented.

What your config look like? Usually when the input hangs on shutdown is because it's stuck writing to the queue, so I am wondering if any config or output could cause this.

[2017-02-17 21:28] ph commented on #193
lets try upgrading your plugin with `bin/logstash-plugin update logstash-input-beats`

[2017-02-17 21:34] renevdm commented on #193
The debug output was waaaaaay too much...  Let's give it a shot with updating the plugin.

[code]

[2017-02-17 21:41] renevdm commented on #193
Ok, the error message is gone when doing a checkconfig

[code]

But still logstash stops processing events after running ok for a few seconds...

[2017-02-17 21:43] renevdm commented on #193
I now see this appearing in the log, this clearifies why stopping logstash isn't working:

[code]

[2017-02-17 21:44] ph commented on #193
@renevdm Your Logstash configuration and a thread dump with `jstack` might help me to understand what is going on.

[2017-02-17 21:48] renevdm commented on #193
I can send you the config files, but I really need some help with jstack as I'm not familiair with that

[2017-02-17 21:51] ph commented on #193
@renevdm **jstack** is not too complicated, just grab the *PID* of your Logstash Instance and use the following command.

run `jstack -l <PID> > thread.dump`, gist the thread dump and add the link to this issue.

[2017-02-17 21:58] renevdm commented on #193
I sent you an e-mail with the configs, but the jstack is no luck I guess.....

[code]

[2017-02-17 22:12] ph commented on #193
@renevdm in your configuration, I see in the **beats** critical path a few **grok** filters, I haven't look at the details of your regular expressions, but some expressions can cause a `redos` problems.

In the case of Logstash that would cause the workers to lock and stop processing any events, making it appear that Logstash doesn't process anything. One of the side effects of this problem can be

[2017-02-17 22:25] renevdm commented on #193
Ok, thanks. But this config used to work, until I upgraded logstash this week. After the upgrade I got the symptoms as described.
I'll pick this up in the morning again. At least the log4j errors have gone now.
Thanks for your help!

[2017-02-17 22:26] ph commented on #193
@renevdm You have upgraded from which version?

[2017-02-17 22:30] renevdm commented on #193
I upgraded from 2.4.0 to 2.4.1

[2017-02-17 22:42] renevdm commented on #193
I disabled some inputs now and disabled all GeoIP lookups and now it all seems to be working. I think I hit a redo indeed.... Hmmm... It looks like I should really clean up those inputs.

[2017-02-18 08:53] jaijhala commented on #170
I'm having this issue as well. Using logstash 5.2.0

[2017-02-20 09:03] JalehD opened #194 "logging improvement request"
- Version: 5
- Operating System: any
- Steps to Reproduce:

Configure any beats (ie filebeat) with wrong configuration, specifically leave output.elasticsearch uncommented and output.logstash commented in the config file.

In logstash logs you will receive below errors

2017-02-15T00:06:54,264][ERROR][org.logstash.beats.BeatsHandler] Exception: org.logstash.beats.BeatsParser$InvalidFrameProtocolEx

[2017-02-20 14:30] ph commented on #193
@renevdm What is the cpu usage went this happen? is jstack able to produce a stack?

[2017-02-25 22:37] nick-george opened #196 "Setting verify_mode to NONE results in FORCE_PEER in SslSimpleBuilder.java"
Hi,

If the user has set verify_mode to NONE in the logstash beats input configuration, it is overridden by the default value set by the code in SslSimpleBuilder.java (https://github.com/logstash-plugins/logstash-input-beats/blob/master/src/main/java/org/logstash/netty/SslSimpleBuilder.java), see below:

    SslClientVerifyMode verifyMode = SslClientVerifyMode.FORCE_PEER;
This is because the Java

[2017-02-26 12:21] jasperla commented on #188
As mentioned in #174 this would unbreak logstash-input-beats on (at least) OpenBSD and make it properly cross-platform. Is there any progress on this issue?

[2017-02-26 23:54] jordansissel commented on #188
jasper, I recommend you follow this ticket to get updates on this issue.

On Sun, Feb 26, 2017 at 4:22 AM Jasper Lievisse Adriaanse <
notifications@github.com> wrote:

[2017-02-27 07:18] jasperla commented on #188
Will do; if there's anything I could help out with I'd be happy to get a few pointers.. ;-)

[2017-03-03 05:30] #122 closed

[2017-03-03 05:30] #184 closed

[2017-03-03 05:54] #185 closed

[2017-03-03 05:54] ph commented on #185
fixed in #191

[2017-03-03 05:55] ph commented on #178
fixed in #191

[2017-03-03 05:55] #178 closed

[2017-03-06 09:33] leemon9527 commented on #170
I'm having this issue as well. Using logstash 5.2.2
anyone help?

[2017-03-18 03:55] jvitorino commented on #33
+1

[2017-03-24 22:34] claudiaDieterich commented on #33
+1

[2017-03-31 16:27] fegul commented on #170
Also having this issue, using logstash 5.3.0

[2017-03-31 17:28] jordansissel commented on #170
This is on my radar to look into soon. I don't' have any updates yet. The errors reported are helpful in pointing out where the problem might be, thank you all :)

[2017-04-03 12:39] matamouros commented on #170
Please @fegul and @jaijhala and all looking this thread, make sure you already don't have :5044 bound and are trying to start Logstash again. I think I got this when for some reason the port was already taken.

[2017-04-04 15:30] fegul commented on #170
@matamouros so it looks like the issue was in the confs I was building to parse different types of logs. In the one for Apache that's mentioned in [this guide](https://www.elastic.co/guide/en/logstash/current/advanced-pipeline.html#indexing-parsed-data-into-elasticsearch), it specifies having the following in the file:

`input {
    beats {
        port => "5043"
    }
}`

What I was doing was cop

[2017-04-05 16:39] paul42 opened #197 "having issues with SSL options - what formats are allowed?"
[code]
why is it saying my key is invalid and then saying my cert file doesn't contain valid certificates? what forms are required for options (DER or PEM?)

[2017-04-10 17:06] #192 closed

[2017-04-12 19:41] ppf2 opened #199 "Add warning when using beats input with multiline when multiple hosts are configured"
This is a high priority doc issue.

Here is the scenario:

* Beats is configured to have output.logstash output with multiple hosts in the hosts list.
* Logstash pipeline has a beats input with multiline codec in place to perform multiline processing.

The problem with the above setup is that if filebeat does not know about multiline (i.e. multiline is not configured via filebeat but as part of a

[2017-04-12 20:17] acchen97 commented on #199
We've always recommended demuxing with multiline on the edge with Beats, so a big +1 on documenting this better. Things break when there's load balancing, but this should be a general recommendation regardless of whether LBing is involved.

@dedemorton I've added this to our [list](https://github.com/elastic/logstash/issues/6850). As this is across Beats and LS, do you mind helping with it?

Regar

[2017-04-13 06:21] jordansissel commented on #199
I propose we instead have the beats input reject being configured with
multi line codec. We can have a failure message inform users to use multi
line in filebeat instead.

On Wed, Apr 12, 2017 at 1:17 PM Alvin Chen <notifications@github.com> wrote:

[2017-04-13 06:38] dedemorton commented on #199
+1 to Jordan's suggestion. Although we should mention in the docs that LS mutliline should not be used with Filebeat, I worry that users won't see all the juicy tidbits like this that we sprinkle through the docs.

[2017-04-13 06:43] jordansissel commented on #199
+1 also including some details in the beats input docs as well.

[2017-04-13 17:17] jordansissel opened #201 "Reject configuration with 'multiline' codec"
related: https://github.com/logstash-plugins/logstash-input-beats/issues/199

Filebeat has multiline support, and so does Logstash. This confuses users with both choice and behavior.

Behaviors that can go wrong if you use filebeat to logstash with logstash beats input using multiline codec:

For example, If the user configures Logstash to do multiline assembly, and filebeat is not, then it is pos

[2017-04-13 20:39] buzzdeee commented on #174
ES/Kibana 5.3 seems to be all fine on OpenBSD, just gave LS a shot, but still stuck here with 2.4 :(

[2017-04-13 20:39] buzzdeee commented on #188
ES/Kibana 5.3 seems to be all fine on OpenBSD, just gave LS a shot, but still stuck here with 2.4 :(

[2017-04-14 00:22] acchen97 commented on #199
@dedemorton following this morning's conversation, we can proceed with adding this messaging to the docs. Let's use a stronger statement than "recommend," as they really should never do it.

[2017-04-18 02:40] edhill commented on #163
Just to add another data point - I agree with makarchuk that there seems to be a reversion.  I upgraded to a fresh 5.3.0 install and started seeing this problem again, and I downgraded the logstash-input-beats plugin to 3.1.10 and it fixed the problem for me.

[2017-04-21 20:22] dlangille commented on #188
Also getting stuck on FreeBSD with this same exact issue.

SSL ALL THE THINGS!

[2017-04-21 23:42] dedemorton commented on #199
@acchen97 @ppf2

I've created the following PRs to address this issue (and https://github.com/elastic/beats/issues/4008). Can you please review/approve. The ones marked off are already approved.

- [ ] https://github.com/logstash-plugins/logstash-codec-multiline/pull/52
- [ ] https://github.com/logstash-plugins/logstash-input-beats/pull/202
- [x] https://github.com/elastic/logstash/pull/6947
- [ ]

[2017-04-24 15:09] dlangille commented on #174
Anything we can do to help?

[2017-04-24 16:42] jordansissel commented on #174
I'm going to close this in favor of #188 which will work towards a solution to this problem.

See y'all over on #188 :)

[2017-04-24 16:42] #174 closed

[2017-04-24 16:45] jordansissel commented on #188
I'll see what we can do this week or next.

[2017-04-24 16:46] dlangille commented on #188
Very happy to test anything you can supply in the meantime.

[2017-04-24 16:47] jordansissel commented on #188
In terms of code, the steps are roughly:

* Tell Netty to use Java crypto instead of OpenSSL (this is some API calls)
* Write tests to verify the new behavior (if possible, I haven't checked the API)
* Make sure the test suite passes

[2017-04-25 16:10] damienalexandre commented on #131
This is still an issue and maybe a warning :warning: should be added to the documentation about it.

A FileBeat sending logs to Logstash, listening via:

[code]

All my events are typed "log", which is a default value from Logstash.

[2017-04-26 21:59] jeanfabrice commented on #117
I'm very interesting by this feature too. i.e having the host field populated with the real source ip of the beats tcp connection (like it's done in the logstash-input-tcp plugin) instead of a useless and craftable beat.hostname.

Could this be an option in the plugin configuration to avoid breaking existing setup ?

[2017-04-28 00:02] dedemorton commented on #199
This issue has been resolved in #202 (note that it won't show up in the published docs until the plugin docs are updated for the next release).

[2017-04-28 00:02] #199 closed

[2017-05-02 22:53] jeanfabrice commented on #180
The use case you described is exactly the one I'm facing.

Shouldn't this ip be saved in the 'host' field to be consistant with what others (at least syslog, udp, tcp) inputs do ?
What about this simple - not breaking - patch: https://github.com/jeanfabrice/logstash-input-beats/commit/eab2a8975aa73782ec095f0cd496023b3b3e0d29 ?

[2017-05-03 05:55] jeanfabrice commented on #117
related to #180

[2017-05-05 17:29] jordansissel commented on #180
beats has numerous ways to provide identity information: custom fields, ssl certificate, etc, including this 'host' field.

Additionally, beats sends structured data, where tcp and udp do not. TCP input also [does not set the `host` field if it is already present](https://github.com/logstash-plugins/logstash-input-tcp/blob/master/lib/logstash/inputs/tcp.rb#L229) in the event -- for example, if you

[2017-05-05 21:06] jeanfabrice commented on #180
Agree.
Feel free to add the ip in any beats structured field, we'll take care of it.

[2017-05-13 03:03] MagnusMWW commented on #180
+1 to this. In a larger infrastructure it can be important to know where a particular message came from, and information provided by the client alone isn't always enough. Especially in cases where you control the reciever, but not the senders.

[2017-05-19 01:29] ppf2 opened #204 "Setting logstash.inputs.beats: TRACE does not produce any additional logging"
[code]

[code]

When using the logging API to increase the logging of the beats input, it produces no additional logging.  It can be helpful to log event content at debug or trace level so admins can turn this on dynamically for troubleshooting (to see what is flowing through the beats input).

[2017-05-19 02:49] jordansissel commented on #204
What are you trying to diagnose?

[2017-05-19 02:54] jordansissel commented on #204
What do you want to see? What action would you take once you see it?

[2017-05-19 05:09] allenmchan commented on #204
This is the scenario we were going through. You can make determination if an enhancement is needed.
We were seeing events that was not properly formed in kibana. Multiline messages were cut in half and partial messages were shown.
Support was working with me to trying to isolate where the problem is.
We added a logstash file output to see the events leaving the logstash instance before being inser

[2017-05-23 10:34] Tester-Joe commented on #180
+1 as well. Having multiple beats from multiple machines pointing to one Logstash would be a good use-case for this. The ability to see where that beat is located by IP address would be a great addition.

[2017-05-26 20:36] ph opened #205 "JRuby 9k Build problems"
The JRuby 9k part seems to be skipped, not sure what is going on here.

https://travis-ci.org/logstash-plugins/logstash-input-beats/jobs/236107806

[code]

[2017-05-29 19:39] PhaedrusTheGreek commented on #80
+1

Experienced this problem with Filebeat 6.0.0-alpha1 with plaintext [due to a misconfiguration](https://github.com/elastic/beats/issues/4416) and received a `Connection Reset` error .    My tests in Filebeat 1.3 showed the `EOF` error.

Would be great if Logstash reported the cause of the issue, as it was difficult to track down.

[code]

[2017-05-29 20:53] jakelandis commented on #201
{quote}
with an actionable error to the user
{quote}

Proposed wording in [PR](https://github.com/logstash-plugins/logstash-input-beats/pull/206/files#diff-28d8b79a78399c1304c58e81cd3672f2R152):
{quote}
Multiline codec with beats input is not supported. Please refer to the beats documentation for how to best manage multiline data. See https://www.elastic.co/guide/en/beats/filebeat/current/multilin

[2017-05-29 21:41] jakelandis opened #207 "Developing documentation for plugins is incomplete"
The documentation for the [developing](https://github.com/logstash-plugins/logstash-input-beats#developing) section appears incomplete.

Since it appears that the documentation is consistent across all plugin's the following is likley applicable to all plugins, not just input-beats. (this is the one I happened to start with)

## Test won't run
(Java plugin's only)

- Run tests
[code]
should read:

[2017-05-30 13:17] ph commented on #207
I've been using the bundle `config` trick for quite a while and yes we should update the documentation.

`bin/logstash-plugin install --no-verify` this is weird, that use case shouldn't override the `Gemfile`, only the lock file should be changed.

[2017-05-30 13:24] ph commented on #201
+1 for wording

I am okay to keep the wording general, in the real world this only really affect filebeat sources.

https://www.elastic.co/guide/en/logstash/current/plugins-inputs-beats.html#plugins-inputs-beats-codec

This will be a bit problematic, since the codec part *will get included* from a static file in the main repo. https://github.com/elastic/logstash/pull/6941/files#diff-00c8b34f204b02

[2017-05-30 13:25] ph commented on #201
For the other documentation changes lets file up a new issue on the main logstash repository and include @dedemorton in the discussion.

[2017-05-30 14:20] jakelandis commented on #207
Thanks, I will double check the need for ```--preserve``` , and propose some updated doc over at https://github.com/elastic/logstash/issues/6086.

[2017-05-30 22:08] acchen97 commented on #201
@jakelandis FYI the only Beat that utilizes multiline is Filebeat, so we can be explicit in stating that.

[2017-06-01 16:27] #201 closed

[2017-06-01 22:36] jakelandis opened #208 "3.x - Deprecate multiline codec with the Beats input plugin"
4.x removes support for the multiline codec with the Beats input plugin. We need to provide a deprecation warning for the 3.x plugin.

Note -
4.x will ship with Logstash 6.x
3.x will ship with Logstash 5.x

Related: https://github.com/logstash-plugins/logstash-input-beats/issues/201

[2017-06-02 13:47] reswob10 commented on #193
I have the same problem as what originally opened this ticket and I still have the issue after upgrading the beats plugin.

Here is the information about my installation:

Installed via downloading the .rpm and running rpm -i install
Files were downloaded and installed within the past week (since April 28, 2017).

[root@elastic-01 logstash]# cat /etc/*release
CentOS release 6.9 (Final)
[root@elast

[2017-06-02 16:38] jakelandis commented on #208
Merged to 3.x

[2017-06-02 16:38] #208 closed

[2017-06-03 07:23] original-brownbear opened #210 "Build is Broken, Jar Dependencies are not Bundled Starting with 3.1.16"
See this:

<img width="325" alt="screen shot 2017-06-03 at 09 21 55" src="https://cloud.githubusercontent.com/assets/6490959/26751627/1f911228-483e-11e7-9381-c4a1efacd2fc.png">

Apparently, the build stopped bundling jar dependencies breaking Core ITs with missing dependencies like here: https://travis-ci.org/elastic/logstash/jobs/238998526#L1426

[code]

[2017-06-03 07:24] original-brownbear commented on #210
@suyograo while you fixed it I made the issue :D

[2017-06-03 14:33] jakelandis commented on #210
Hmm...

I ran the same commands as [jarvis publish](https://github.com/elastic/jarvis/blob/master/lib/jarvis/commands/publish.rb#L30) locally and got the correct results. _(I don't have the ruby gems credentials, so nothing was published)_

I don't think the root cause is code in this plugin, though a change can be made here to fail properly.

[code]

Normal vendor:

[code]

Break the vendor by in

[2017-06-03 16:36] original-brownbear commented on #210
Hmm last I remember Jarvis publishing of gems that contained Java was broken, @suyograo do you know more? :)

[2017-06-03 20:08] jakelandis commented on #210
For clarity, the proposed change here does not fix the issue. It should however, prevent a broken gem _(due to gradlew failures)_  from getting published.

[2017-06-05 14:54] ph commented on #210
@original-brownbear Jarvis was always able to publish gem if the jars are packed when running the `bundle exec rake vendor` tasks. We recently change the host of jarvis which might have affected the environment. I will take a look.

@suyograo Can you push your VERSION change to this repo, master is still fixed at 4.0.0 and 4.0.1 was released manually.

[2017-06-05 15:18] jakelandis commented on #210
Reopening to ensure that @suyograo  changes are committed to master.

[2017-06-05 15:52] ph commented on #210
After investigating, I have found the issue, we have recently migrated Jarvis to a larger ec2 instance, and we didn't use the JDK, so the beats input build was failing. All Java-based plugins were probably failing on Travis.

[2017-06-06 17:21] dcjulian29 opened #214 "Dual Network Stack is Ignored by Configuration"
I've installed Logstash 5.4.1 on an Ubuntu 16.04.2 64-bit VM which is configured with dual-stack networking with both IPv6 and IPv4 configured. The beats plugin only wants to listen on the IPv6 port. I have some devices that only are capable of IPv4, so I need logstash to listen on both network stacks.

[code]
The input part of the configuration is:
[code]

Is there a way to get the beats plugin t

[2017-06-06 20:44] #210 closed

[2017-06-07 08:58] nicknameforever opened #215 "No support for TLS 1.0/1.1"
We migrated from Logstash 2.2 to Logstash 5.4 and the plugin refused to support TLS 1.0/1.1 (only supports 1.2).

* Logstash 5.4.0
* logstash-input-beats 3.1.12
* SLES 11 (x86_64)

Can this be related to the netty issue: https://github.com/netty/netty/issues/4918?

[2017-06-07 14:11] jakelandis commented on #180
@ph / @jordansissel - question on exactly where this should go ?

@ph - you mention ```beat.ip_address```
@jordansissel  - you referenced adding this to the metadata (assuming) ```@metatdata.ip_address```

Which is preferable ?

[2017-06-07 20:31] jakelandis commented on #180
Spoke briefly with @ph and tentatively decided to target ```@metadata.ip_address``` as the home for this value. Hiding it abit, so that we don't accidentally break any ES mappings.  . _@jordansissel - please comment if you disagree._

Sample output (ruby codec with metaday)
[code]

[2017-06-08 14:00] jakelandis opened #219 "Test failure"
Travis integration test failure on unrelated change.  Should investigate root cause.

[code]

Travis's log (while it lasts):
https://travis-ci.org/logstash-plugins/logstash-input-beats/jobs/240545562

Complete log preserved here:
https://gist.github.com/jakelandis/0df4d09fbdda689a276f794705e91073

Can not reproduce locally.

[2017-06-08 14:40] jakelandis commented on #219
Failed again, different reason.

This time a Junit test failure:
[code]
Travis log (while it lasts):
https://travis-ci.org/logstash-plugins/logstash-input-beats/jobs/240801426

Complete log preserved here:
https://gist.github.com/jakelandis/59c88468b1e83e4b030dc815720ae25e

[2017-06-08 18:02] jakelandis commented on #219
....and Failed again, for another reason.

[code]

Travis log (while it lasts):
https://travis-ci.org/logstash-plugins/logstash-input-beats/jobs/240816614

Complete log preserved here:
https://gist.github.com/jakelandis/d5894cff25008aaa18eb0f56e66694e5

[2017-06-08 20:58] #219 closed

[2017-06-08 21:01] jakelandis commented on #219
The second failure was much more pervasive (and happens first.) https://github.com/logstash-plugins/logstash-input-beats/pull/220 addresses the second failure (testServerShouldTerminateConnectionIdleForTooLong FAILED)

I am still unable to reproduce the first error either via Travis or locally, will open a new issue if more test failures are encountered.

[2017-06-08 21:27] jakelandis opened #221 "Bump Java build to 1.8"
Currently Gradle is targeted to 1.7, lets bump it to 1.8

[2017-06-08 21:43] jakelandis opened #222 "Test Failure"
More test failures unrelated to new code.

[code]

...

[code]

I was able to reproduce this one time locally, but dozens of other attempts on multiple platforms worked without issue.

See Also #219

Travis: https://travis-ci.org/logstash-plugins/logstash-input-beats/jobs/240959762
Copy: https://gist.github.com/jakelandis/2c51590250b9d9dc798e60d5848bb76d

[2017-06-09 00:25] jakelandis commented on #222
I _think_ I found the culprit ...

It seems that when we spawn the child process in the integration tests for logstash forwarder and file beats we only allow 0.1 seconds for that child process to start.  I was able to reliably reproduce this locally by dropping that value down to .0001 seconds.

The fix here should be to block until the process is started or some max threshold (~5 seconds) is met.

[2017-06-09 00:45] jakelandis opened #224 "Integration Tests: Keep Filebeat version used in tests in better sync with Logstash"
Currently Logstash and Filebeat is 6.x-alphaX, but our integration tests are using [Filebeat 5.0](https://github.com/logstash-plugins/logstash-input-beats/blob/master/lib/tasks/test.rake#L5-L9).

We should keep the version we use for our integration tests in better sync with the Filebeat version.

Our ci script already checks out Logstash, so we have access to the versions file on the build machin

[2017-06-09 13:38] ph commented on #222
Agree, that would be a OK fix for that, external process synchronization is not something cool.

[2017-06-09 13:52] #222 closed

[2017-06-09 14:29] #180 closed

[2017-06-09 17:07] #221 closed

[2017-06-19 11:35] joelio commented on #197
I've had a similar issue when reusing puppet's CA infrastructure - it can be converted with something like

`openssl pkcs8 -topk8 -inform PEM -outform PEM -in {old}.pem -out {new}.pem -nocrypt`

[2017-06-20 07:34] swimmesberger opened #228 "SslSimpleBuilder setProtocols ignored"
There seems to be a issue in SslSimpleBuilder that you can't set the protocols because the local variable has the same name than the class property. Solutions would be to rename the local input variable or prefix the assignment class property with "this".
https://github.com/logstash-plugins/logstash-input-beats/blob/master/src/main/java/org/logstash/netty/SslSimpleBuilder.java#L69

Eclipse showed

[2017-06-20 13:48] jakelandis commented on #228
@swimmesberger - Thanks for reporting this !

[2017-06-20 14:55] jakelandis opened #230 "Test Failure: Integration tests failing"
This has been failing for the past few days for the same reason, starting with Commit e61a5f1...but that commit does not appear to be related to the failure.

Travis log (while it lasts): https://travis-ci.org/logstash-plugins/logstash-input-beats/jobs/244957331

Copy of travis log:  https://gist.github.com/jakelandis/ed679c3d154fac7fd53feb15db3c94db

[code]

[2017-06-22 14:18] #230 closed

[2017-06-22 14:18] jakelandis opened #232 "Backport test stabalization fixes to the 3.x branch"
A few issues have been identified that contribute to intermittent failures of the integration tests. Since 3.x is still viable branch (used with Logstash 5.x), we should back port the test stabilization issues to allow bug fixes on 3.x to pass the tests with greater regularity.

The following commits should be manually merged/cherry-picked back to the 3.x branch:
https://github.com/logstash-plugin

[2017-06-22 20:07] jakelandis commented on #232
cherries merged to 3.x

[2017-06-22 20:07] #232 closed

[2017-06-22 20:15] #228 closed

[2017-06-23 10:54] original-brownbear commented on #188
@jordansissel working on https://github.com/logstash-plugins/logstash-input-tcp/issues/7 I came across this warning http://netty.io/wiki/requirements-for-4.x.html#jdk-ciphers.

I think for the many connection use case in TCP this matters measurably, but I can't judge if this type of performance hit is a problem for this plugin as well? Maybe we shouldn't indiscriminately switch to the Java crypto

[2017-06-23 16:04] jakelandis commented on #188
Also, when switching Java crypto backend, assuming is going through the JCE interface _(e.g. not directly against an implementation)_ then deployers will need to be have the [Unlimited Strength Jurisdiction Policy Files](http://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html) installed, which at least in my experience has been a deployment pain point _(humans tend to fo

[2017-06-23 16:08] original-brownbear commented on #188
@jakelandis yea  +1000 on the import/export restrictions being a huge issue as well.
After having sunk a bunch of time into this at least to me it looks like the Netty OpenSSL is the most standard conforming + portable version.
I'd make this the default and simply make the fallback to a Java SSL version a setting so that other *nix that aren't compatible right now will be compatible?

[2017-06-23 16:21] jordansissel commented on #188
This is only true if you use Oracle JRE. OpenJDK, I think, defaults to this "unlimited strength" scenario.

I'm not a lawyer familiar with various export restrictions laws, so I don't have anything to add or remove here beyond suggesting that it's been a while since I've heard of encryption export being a problem.

If forgetfulness is a problem, we can detect this scenario to notify users about th

[2017-06-23 16:25] original-brownbear commented on #188
@jordansissel

In the world of enterprise setups, Oracle is all over the place, especially in Europe and def. hit by the export restrictions.

We can do that too and I guess we all like it better, aside from taking longer to implement I see no downsides :)

[2017-06-23 16:34] jordansissel commented on #188
@original-brownbear I suppose my suggestion is that if a user is impacted by export restrictions, working around this by using open source implementations of those import-restricted crypto systems seems like asking for legal trouble (or worse?)?

[2017-06-23 16:36] original-brownbear commented on #188
@jordansissel

Hmm, interesting question ... I have no idea how transitive dependencies are counted here, but intuitively (not that that's worth much when it comes to legal) I agree, this seems like it's not gonna fly :(

[2017-06-23 19:28] jakelandis opened #236 "Logging from Java code does not work"
Logstash core has been upgraded to Log4j2, but this plugin is still coded against Log4j v1. For our configuration these two versions are incompatible, and we must upgrade to log4j2 for our logging to work.

Note - the ability for _any_ logging to occur from Java is dependent on https://github.com/elastic/logstash/issues/7526

[2017-06-24 18:11] jakelandis opened #238 "Test Failure"
The following test failed

https://travis-ci.org/logstash-plugins/logstash-input-beats/jobs/246035273

_log copy: https://gist.github.com/jakelandis/e7f7d69e4f9655a6d00b4ccb545b2f59_

[code]

[2017-07-03 14:52] williamoverton opened #241 "Segmentation Fault with Alpine Linux v3.6"
I installed logstash-input-beats by running the following command: `logstash-plugin install logstash-input-beats`

Error:
[code]

Logstash config:
[code]

[2017-07-03 15:56] jsvd commented on #241
thanks for reporting, can you provide that hs log and the core dump?

[2017-07-12 20:11] #236 closed

[2017-07-13 00:04] johncollaros commented on #180
Which versions of logstash can we expect to see this feature in?
I am currently running 5.4.0 and need this feature.

[2017-07-13 15:25] jakelandis commented on #180
@johncollaros - This will be bundled with the 6.0.0 release (which isn't released yet).

However, the plugins have their own release schedule and this change has been released in the 4.0.3 version of this plugin.

Assuming that you are NOT using multi-line codec in your beats input, you can upgrade to use the 4.0.3 plugin with this command:
[code]
The full change log is here: https://github.com/lo

[2017-07-13 21:22] fmhwong opened #248 "Sending events in lumberjack protocol to beats input"
Version:  Logstash 2.4.x and 5.x

We have a custom Java client that sends log events in lumberjack protocol to Logstash with lumberjack input.

[code]
This has been working fine in Logstash 2.4.x and 5.x with IBM JDKs.  However, latest IBM JDK disabled an insecure cipher and the custom Java client cannot establish a SSL connection with Logstash anymore.  (I know IBM JDK is not on the supported lis

[2017-07-14 18:06] jakelandis commented on #248
I would assume that beats input interop with lumberjack has a future, since removing it would be very non-passive and believe that there may be some valid workflows which would require it's existence.

@acchen97 / @suyograo  - Did you have any input here ?

[2017-07-17 04:29] jordansissel commented on #248
At this time we have no plans to remove the v1 protocol (what the old lumberjack/logstash-forwarder used) support in the beats input.

Specific to your case, I want to caution you -- I do not consider the lumberjack protocol to be intended for other systems. The only supported clients are Elastic products and the only supported server is Logstash's beats input. Anything else is a kind of "good luc

[2017-07-17 14:09] fmhwong commented on #248
Thanks for your responses!  I understand that Filebeat is the preferred log events shipper to Logstash.  However, Filebeat does not run on some of our required platforms such as AIX.  Our custom Java client remains the only option we have at this moment.

[2017-07-17 14:40] jakelandis commented on #248
@fmhwong - closing issue.  Please re-open if there is more to discuss on this topic.

[2017-07-17 14:40] #248 closed

[2017-07-17 14:42] jakelandis opened #249 "Documentation: Remote IP"
Add documentation for the Remote IP address from on Issue #180.

[2017-07-19 00:13] johncollaros commented on #180
@jakelandis Thank you so much. I gave this a go and it is working using logstash-5.3.2.

[2017-07-24 14:51] mikeh-elastic opened #251 "Beats input error logging should include the source ip of the message for easier identification of misconfigured senders"
Steps to Reproduce: send non tls data to a tls configured beats input on logstash
Get error message in lumberjack protocol that does not easily identify the sending source.

[2017-07-24 17:09] jordansissel commented on #251
If I configure TLS in beats input in Logstash 5.5.0:

[code]

Then I connect with non-TLS client and send garbage:

[code]

The connection is closed (because I sent garbage, not a TLS handshake), but Logtash logs nothing. Can you help me reproduce your problem?

[2017-07-24 18:54] jeremyAtOptum commented on #251
Hiya!
So, what it actually appears to be is misconfigured certs on clients (e.g., invalid certs, cert was specified in config file but did not exist).  We've fixed most of the machines now, but i have a couple of stragglers trying to connect:

[2017-07-24T11:15:06,280][ERROR][org.logstash.beats.BeatsHandler] Exception: not an SSL/TLS record: 474554202f5f636c75737465722f6865616c746820485454502f312e

[2017-07-25 15:42] jordansissel commented on #188
Noting this issue came up again today with a customer where tcnative could not be loaded.

[2017-08-08 14:52] mstaudinger commented on #188
Another FreeBSD user here - eager to implement Elastic 5.X but unable to do so until filebeat can speak TLS to logstash.  Also willing to test any changes to this pipeline.

[2017-08-11 22:36] jakelandis opened #253 "Beats input should not handle Error's (only Exceptions)"
Java `Error`'s such as `OutOfMemoryError` during the initialization of a channel are currently being handled and logged.

Specifically [here](https://github.com/logstash-plugins/logstash-input-beats/blob/248a2951a54c0b9718cf1377abcecc2c4a6097c6/src/main/java/org/logstash/beats/Server.java#L145)

Upon handling of the Throwable, we should check if it is an error and re-throw it back up the stack. Pl

[2017-08-11 22:43] jakelandis commented on #253
It appears that TCP input just closes the connection upon exception/error:

https://github.com/logstash-plugins/logstash-input-tcp/blob/master/src/main/java/org/logstash/tcp/InputLoop.java#L118

We should evaluate the preferred handling and ensure both Netty backed plugin's behave the same.

[2017-08-23 09:29] tanji commented on #215
Same issue here:

[code]

[2017-09-09 13:14] davidsonr commented on #33
+1

[2017-09-10 18:27] aubreybox opened #257 "TLS: Only works with prime256v1"
https://github.com/elastic/logstash/issues/8134

The bug is probably in better hands here.

Problem seems to be that TLS with ECC only works if you choose the curve prime256v1.
Why is that?

[2017-09-12 14:28] masip85 commented on #170
@fegul , you are completely right. I can't manage multiple config files. With one unique config file works soomthly. What should we do to manage more than one?

[2017-09-12 16:57] colinsurprenant commented on #253
/cc @ph

[2017-09-12 20:53] dedemorton opened #258 "Update example to include version metadata in index name"
The changes in this Beats PR need to be made in the plugin docs, too:
https://github.com/elastic/beats/pull/5166

[2017-09-13 01:22] directionless commented on #83
I was just looking for this feature! I'd love to see this. I'm looking at using logstash and filebeat to gather data from various hosts. I think the only non-forgeable piece of information is the TLS CN. It's a great identifier, and I've to have it in the metadata

[2017-09-13 04:22] directionless commented on #83
I started playing around. https://github.com/logstash-plugins/logstash-input-beats/compare/master...directionless:seph/tls-metadata seems to work, though I'm not sure how to setup a good test suite. Or whether there are performance impacts.

[2017-09-15 10:29] Ihjaz commented on #61
Hi,

I have the following configuration now with ssl_key_passphrase.

[code]
I have encrypted key.p8 as follows with 'admin' as key phrase.

But with the encrypted key file and passphrase configured, I am seeing the following error in logstash logs.

I'm running logstash 5.5.1.

[2017-09-22 20:02] darvid commented on #8
any workaround for the fact that you can't use client certs signed by a root + intermediary? looks like jruby/jruby-openssl#84 has been open for over a year now...

[2017-09-24 13:54] oussaka commented on #170
I found the solution here [https://github.com/elastic/logstash/issues/6279](url)

[2017-09-29 13:49] slavniyteo commented on #241
I got the same issue with logstash inside docker container. I run it in Rancher.

[code]

output:
[code]

[2017-10-02 11:44] amirvaza opened #259 "Logstash-input-beats connections still doesn’t close properly"
- Version: 5.0.1 / 3.1.24
- Operating System: ec2 linux
- Config File: follow
- Sample Data:
- Steps to Reproduce: every run

I have around 50 filebeats with this configuration:
<pre>
<code>
output:
  logstash:
    hosts: ["******:10200"]
shipper:
logging:
  level: warning
  to_files: true
  to_syslog: false
  files:
    path: /var/log/filebeat
    name: filebeat.log
    rotateeverybytes: 1000000

[2017-10-02 15:19] ph opened #260 "Timeout logic close connection too early"
I've done some testing on the beats inputs; we have logic in place to close **idle remote connection**. I think the code logic is flawed and the timeout is triggered way too early than the configured timeout value which is by default 60 seconds.

I've seen it triggered after 10 seconds instead of the 60 seconds; this is problematic since the remote connection has to renegotiate a new connection an

[2017-10-02 18:49] ph commented on #260
I think a bad timeout could happen in the following situation:

- We receive events from beats.
- Logstash is stuck on the last events from a batch.
- the time to be stuck is close to the inactivity timeout.
- Logstash timeout before receiving anything.

**Solutions**

1. Use a higher timeout value
2. implement a grace period after a batch is successfully processed (invincibility frame)

I think I

[2017-10-02 20:04] #238 closed

[2017-10-03 12:42] ph commented on #260
I've created #262 instead which provide a better way to handle the client inactivity timeout.

[2017-10-05 14:17] cagdaskarabag commented on #170
Hello all,
below you can see my setup.
**../bin/logstash-plugin list --verbose beats**
logstash-input-beats (3.1.12)
 **../bin/logstash --version**
logstash 5.2.2

i am having the same error even though i use only 1 config file.
and @oussaka  the link you've provided is not working anymore. what was the solution? could you please share it? thank you.

[2017-10-05 17:19] oussaka commented on #170
@cagdaskarabag the link works. (copy/past url in new tab).

[2017-10-06 14:41] #260 closed

[2017-10-06 14:41] ph commented on #260
Closed from #262

[2017-10-11 22:58] pldiiw opened #265 "Add support for beat authentication via hostname regexps"
One of the limitations on the SSL side of this plugin is in its options on how to authenticate the Beats that connect to it.

Currently, the only way the input plugin provides to authenticate Beats is checking that the client certificate is signed by the configured CA.

Such a mean of authentication requires —_to my knowledge_ — you to manage your own CA.

Working with a "public" CA from which peo

[2017-10-17 05:07] slavniyteo commented on #241
Append to previous comment: if I use image logstash:5.5.2 (not alpine), logstash will up with both input plugins: tcp and beats.

Problem is associated with alpine linux.

[2017-10-17 06:02] jordansissel commented on #241
This stack trace is a crash within netty’s Tcnative — my guess is it is a
bad interaction between tcnative and alpine’s libc (musl causes our
software problems so we specifically avoid it)

On Tue, Oct 17, 2017 at 7:07 AM slavniyteo <notifications@github.com> wrote:

[2017-10-19 12:45] rcarre commented on #33
Just would like to confirm that json.overwrite_keys is really helpfull and working as expected when you wanna keep a @timestamp value encoded in the JSON message. Thanks for this feature.

[2017-10-23 09:08] Sakorah commented on #196
Hi,

I'm running into the same issue here.
LS: 5.6.3
Filebeat 5.6.3

I set the beats input to:
[code]
And the Beat config to:
[code]

If I give filebeat a client certificate it works, without a certificate the handshake fails although LS should not even ask the client for a certificate.